{%- if logo_inner != blank and request.page_type == 'index' -%}
  <a href="{{ routes.root_url }}" class="{{ className }} {{ none }}">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo_inner.alt | default: shop.name | escape -%}
      {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo_inner.aspect_ratio -%}
      {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
      {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}
      {{
        section.settings.logo_inner
        | image_url: width: 600
        | image_tag:
          loading: 'lazy',
          height: logo_height,
          sizes: sizes,
          widths: widths,
          width: section.settings.logo_width,
          class: 'header__heading-logo testLogo',
          alt: logo_alt
      }}

    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>
{%- else -%}
  <a href="{{ routes.root_url }}" class="{{ className }} {{ none }}">
    {%- if section.settings.logo != blank -%}
      {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
      {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
      {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}
      {{
        section.settings.logo
        | image_url: width: 600
        | image_tag:
          loading: 'lazy',
          height: logo_height,
          sizes: sizes,
          widths: widths,
          width: section.settings.logo_width,
          class: 'header__heading-logo testLogo',
          alt: logo_alt
      }}

    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>
{%- endif -%}
