<ul class="header__menu_ul" role="list">
  {%- for link in section.settings.menu.links -%}
    {%- assign three_level = false -%}
    {%- assign two_level = false -%}
    {% assign has_children = false %}
    {% assign has_no_children = false %}
    {% assign has_children_class = '' %}
    {% assign promo1 = false %}
    {% assign promo2 = false %}
    {% assign product1 = false %}
    {% assign productList_slider = false %}
    {% assign collection = false %}
    {% assign collection-two = false %}
    {% assign collection-three = false %}
    {% assign collection-four = false %}
    {% assign collectionList_slider = false %}

    {% if link.links != blank %}
      {% assign has_children = true %}
      {% if link.levels == 2 %}
        {%- assign three_level = true -%}
      {% endif %}
      {% if link.levels == 1 %}
        {%- assign two_level = true -%}
      {% endif %}
    {% endif %}

    {% assign title_handle = link.title | handleize %}
    {%- assign has_mega_item = false -%}

    {%- for block in section.blocks -%}
      {% assign showNavigation = block.settings.show_navigation %}
      {% assign showPagination = block.settings.show_pagination %}
      {%- case block.type -%}
        {%- when 'mega-menu' -%}
          {% assign menu_title = block.settings.heading | handleize %}
          {% if menu_title == blank or menu_title != title_handle %}
            {% continue %}
          {% endif %}
          {% if menu_title == title_handle %}
            {%- assign has_mega_item = true -%}
            {%- if block.settings.image != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign promo1 = true %}
              {% capture menu_promo1 %}
              <div class="mega__menu--promo">
                  <a href="{{ block.settings.promo1_link }}" class="mega__menu--promo-link">
                    <div class="media--{{ block.settings.height }} media rounded--image" {% if block.settings.height == 'adapt' and block.settings.image != blank %}
                      style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"{% endif %}
                      >
                        <img
                             srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                                     {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                                     {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                                     {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                                     {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                                     {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                                     {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                                     {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                                     {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                                     {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                             sizes="(min-width: 992px) 50rem"
                             src="{{ block.settings.image | img_url: '1500x' }}"
                             loading="lazy"
                             alt="{{ block.settings.image.alt | escape }}"
                             width="{{ block.settings.image.width }}"
                             height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
                             >
                      </div>
  
                      {% if block.settings.promo1_heading != blank or block.settings.promo1_text != blank %}
                        <div class="mega__menu--promo-content text-center mt-15">
                            {% if block.settings.promo1_heading != blank %}
                              <div class="mega__menu--promo-heading"> 
                                <span class="promo-heading--label h6 mb-0">{{ block.settings.promo1_heading }}</span> 
                              </div>
                            {% endif %} 
                           {% if block.settings.promo1_text != blank %}
                            <div class="mega__menu--promo--subheading">
                              <span class="promo--subheading--label">{{ block.settings.promo1_text }}</span>
                            </div>
                            {% endif %}  
                        </div>
                      {% endif %}  
                    </a>
                </div>
              {% endcapture %}
            {% endif %}

            {%- if block.settings.image_2 != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign promo2 = true %}
              {% capture menu_promo2 %}
            <div class="mega__menu--promo">
                 <a href="{{ block.settings.promo2_link }}" class="mega__menu--promo-link">
                      <div class="media--{{ block.settings.height_2 }} media rounded--image" {% if block.settings.height_2 == 'adapt' and block.settings.image_2 != blank %}
                        style="padding-bottom: {{ 1 | divided_by: block.settings.image_2.aspect_ratio | times: 100 }}%;"{% endif %}
                        >
                          <img
                               srcset="{%- if block.settings.image_2.width >= 375 -%}{{ block.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 550 -%}{{ block.settings.image_2 | img_url: '550x' }} 550w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 750 -%}{{ block.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 1100 -%}{{ block.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 1500 -%}{{ block.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 1780 -%}{{ block.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 2000 -%}{{ block.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 3000 -%}{{ block.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
                                       {%- if block.settings.image_2.width >= 3840 -%}{{ block.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
                                       {{ block.settings.image_2 | img_url: 'master' }} {{ block.settings.image_2.width }}w"
                               sizes="(min-width: 992px) 50rem"
                               src="{{ block.settings.image_2 | img_url: '1500x' }}"
                               loading="lazy"
                               alt="{{ block.settings.image_2.alt | escape }}"
                               width="{{ block.settings.image_2.width }}"
                               height="{{ block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio }}"
                               >
                        </div>
                       {% if block.settings.promo2_heading != blank or block.settings.promo2_text != blank %}
                         <div class="mega__menu--promo-content text-center mt-15">
                              {% if block.settings.promo2_heading != blank %}
                              <div class="mega__menu--promo-heading">
                                <span class="promo-heading--label h6 mb-0">{{ block.settings.promo2_heading }}</span>
                              </div>
                              {% endif %} 
                             {% if block.settings.promo2_text != blank %}
                              <div class="mega__menu--promo--subheading">
                                <span class="promo--subheading--label">{{ block.settings.promo2_text }}</span>
                              </div>
                              {% endif %} 
                          </div>
                       {% endif %}
                    </a>
              </div>
          {% endcapture %}
            {% endif %}
          {% endif %}

        {%- when 'mega-menu-product' -%}
          {% assign menu_title = block.settings.heading | handleize %}
          {% if menu_title == blank or menu_title != title_handle %}
            {% continue %}
          {% endif %}
          {% if menu_title == title_handle %}
            {%- assign has_mega_item = true -%}
            {% assign has_children = true %}
            {% if has_children == false %}
              {% assign has_no_children = true %}
            {% endif %}

            {%- if block.settings.productList != blank -%}
              {% assign product1 = true %}
              {% capture menu_product %}
                {% if productList_slider != true %}
                  <div class="{% if link.links != blank %} mega__menu--promo--slider {% else %} mega__menu--promo-fullwidth {% endif %} block-{{ block.id }}">
                    <div class="container">
                        <megamenu-slider 
                          class="product_slider_wrapper"
                          data-products_show="{{ block.settings.products_show_on_xl }}"
                          data-autoplay="{{ block.settings.auto_rotate }}"
                          data-autoplay_time="{{ block.settings.autoplay_time }}000"
                        >
                          <div class="megamenu-slider-active swiper">
                            <div class="swiper-wrapper">
                              {% for product in block.settings.productList %}
                                {%- if forloop.length > 2 -%}
                                    <div class="mega__menu--prom swiper-slide" tabindex="-1">
                                      {%
                                        render 'product-card-item',
                                        product_card_product: product,
                                        media_size: block.settings.image_ratio,
                                        show_secondary_image: block.settings.show_secondary_image,
                                        show_vendor: block.settings.show_vendor,
                                        show_badge: block.settings.show_badges,
                                        show_cart_button: block.settings.show_cart_button,
                                        cart_button_style: block.settings.cart_button_style,
                                        cart_button_place: block.settings.cart_button_positon,
                                        show_countdown: block.settings.show_countdown,
                                        show_countdown_on_image: block.settings.place_timer_on_image,
                                        show_title: block.settings.show_title,
                                        show_price: block.settings.show_price,
                                        show_rating: block.settings.show_product_rating,
                                        is_product_options: true
                                      %}
                                    </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="featured__collection--slider slider--controls--button mt-30">
                              {%- if showNavigation -%}
                                <div class="swiper-button-prev swipe--button"></div>
                              {%- endif -%}
                              {%- if showPagination -%}
                                <div class="swiper-pagination product__slider--pagination -b-5"></div>
                              {%- endif -%}
                              {%- if showNavigation -%}
                                <div class="swiper-button-next swipe--button"></div>
                              {%- endif -%}
                          </div>
                        </megamenu-slider>
                    </div>
                  </div>
                {% endif %}
            
            {% endcapture %}
            {% endif %}
          {% endif %}

        {%- when 'mega-menu-collection' -%}
          {% assign menu_title = block.settings.heading | handleize %}
          {% if menu_title == blank or menu_title != title_handle %}
            {% continue %}
          {% endif %}
          {% if menu_title == title_handle %}
            {%- assign has_mega_item = true -%}

            {%- if block.settings.collection_one != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign collection = true %}
              {% capture collection_one %}
                
                  <div class="mega__menu--promo  color-{{ section.settings.color_scheme_header }}">
                    {%- render 'collection-card',
                        collection: block.settings.collection_one,
                        image_ratio: block.settings.image_ratio_collection,
                        product_count: block.settings.product_count,
                        columns: block.settings.columns,
                        title_position: block.settings.title_position,
                        placeholder_image: 'collection-apparel-1',
                        custom_image: block.settings.collection_custom_image,
                        single_title: block.settings.single_collection__title,
                    -%}
                  </div>
            
              {% endcapture %}
            {% endif %}

            {%- if block.settings.collection_two != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign collection-two = true %}
              {% capture collection_two %}
                
                  <div class="mega__menu--promo color-{{ section.settings.color_scheme_header }}">
                    {%- render 'collection-card',
                        collection: block.settings.collection_two,
                        image_ratio: block.settings.image_ratio_collection,
                        product_count: block.settings.product_count,
                        columns: block.settings.columns,
                        title_position: block.settings.title_position,
                        placeholder_image: 'collection-apparel-1',
                        custom_image: block.settings.collection_custom_image_two,
                        single_title: block.settings.single_collection__title-two,
                    -%}
                  </div>
            
              {% endcapture %}
            {% endif %}

            {%- if block.settings.collection_three != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign collection-three = true %}
              {% capture collection_three %}
                
                  <div class="mega__menu--promo color-{{ section.settings.color_scheme_header }}">
                    {%- render 'collection-card',
                        collection: block.settings.collection_three,
                        image_ratio: block.settings.image_ratio_collection,
                        product_count: block.settings.product_count,
                        columns: block.settings.columns,
                        title_position: block.settings.title_position,
                        placeholder_image: 'collection-apparel-1',
                        custom_image: block.settings.collection_custom_image_three,
                        single_title: block.settings.single_collection__title-three,
                    -%}
                  </div>
            
              {% endcapture %}
            {% endif %}

            {%- if block.settings.collection_four != blank -%}
              {% assign has_children = true %}
              {% if has_children == false %}
                {% assign has_no_children = true %}
              {% endif %}
              {% assign collection-four = true %}
              {% capture collection_four %}
                
                  <div class="mega__menu--promo color-{{ section.settings.color_scheme_header }}">
                    {%- render 'collection-card',
                        collection: block.settings.collection_four,
                        image_ratio: block.settings.image_ratio_collection,
                        product_count: block.settings.product_count,
                        columns: block.settings.columns,
                        title_position: block.settings.title_position,
                        placeholder_image: 'collection-apparel-1',
                        custom_image: block.settings.collection_custom_image_four,
                        single_title: block.settings.single_collection__title-four,
                    -%}
                  </div>
            
              {% endcapture %}
            {% endif %}
          {% endif %}
      {% endcase %}
    {% endfor %}
    {% if has_children %}
      {% if has_mega_item %}
        {% assign has_children_class = 'menu__item_has_children header__menu_li_child_mega_menu' %}
      {% else %}
        {% assign has_children_class = 'menu__item_has_children header__menu_li_child_sub_menu' %}
      {% endif %}
    {% endif %}

    <li class="header__menu_li {{ has_children_class }}  {% if link.current %} header__menu_li--active{% endif %}">
      {%- if has_children -%}
        <details-disclosure>
          <details id="Details-HeaderMenu-{{ forloop.index }}">
            <summary data-href="{{ link.url }}" class="header__menu_item">
              {{ link.title | escape }}
              <span class="submenu__icon"> {% render 'icon-caret' %} </span>
            </summary>

            {% if has_mega_item %}
              <div
                class="header__mega_menu mega__menu--wrapper color-{{ section.settings.submenu_color_scheme }}"
                style="--total-columns: {{ link.links.size }}"
              >
                <div class="container mega__menu--wrapper--column">
                  {% if link.links != blank %}
                    <ul class="header__mega_menu--inner  {% if has_no_children %}has-children-none{% endif %}">
                      {%- for childlink in link.links -%}
                        {%- if childlink.links != blank -%}
                          <li class="header__mega_menu_li">
                            <a href="{{ childlink.url }}" class="header__mega_menu_item">
                              {{- childlink.title | escape -}}
                            </a>
                            <ul class="header__mega_sub_menu">
                              {%- for grandchildlink in childlink.links -%}
                                <li class="header__mega_sub_menu_li">
                                  <a class="header__mega_sub_menu_item" href="{{ grandchildlink.url }}">
                                    {{- grandchildlink.title | escape -}}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </li>
                        {%- else -%}
                          <li class="header__mega_menu_li ">
                            <a href="{{ childlink.url }}" class="header__mega_menu_item">
                              {{- childlink.title | escape -}}
                            </a>
                          </li>
                        {%- endif -%}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {%- if promo1 -%}
                    {{ menu_promo1 }}
                  {% endif %}
                  {%- if promo2 -%}
                    {{ menu_promo2 }}
                  {% endif %}
                  {%- if product1 -%}
                    {{ menu_product }}
                  {% endif %}
                  {%- if collection -%}
                    {{ collection_one }}
                  {% endif %}
                  {%- if collection-two -%}
                    {{ collection_two }}
                  {% endif %}
                  {%- if collection-three -%}
                    {{ collection_three }}
                  {% endif %}
                  {%- if collection-four -%}
                    {{ collection_four }}
                  {% endif %}
                </div>
              </div>
            {% else %}
              <ul class="header__sub_menu {% if link.levels == 2  %} header__sub--has-children-parent {% endif %} color-{{ section.settings.submenu_color_scheme }}">
                {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                    <li class="header__sub_menu_li header__sub--has-children">
                      <a href="{{ childlink.url }}" class="header__sub_menu_item">
                        <span> {{ childlink.title | escape }} </span>
                        <span class="header__sub--has-children--icon"> {% render 'left-arrow-icon' %} </span>
                      </a>
                      <ul class="header__sub--children__menu color-{{ section.settings.submenu_color_scheme }}">
                        {%- for grandchildlink in childlink.links -%}
                          <li class="header__sub_menu_li">
                            <a class="header__sub_menu_item" href="{{ grandchildlink.url }}">
                              {{- grandchildlink.title | escape -}}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </li>
                  {%- else -%}
                    <li class="header__sub_menu_li">
                      <a href="{{ childlink.url }}" class="header__sub_menu_item">{{ childlink.title | escape }}</a>
                    </li>
                  {%- endif -%}
                {% endfor %}
              </ul>
            {% endif %}
          </details>
        </details-disclosure>
      {%- else -%}
        <a class="header__menu_item" href="{{ link.url }}"> {{ link.title | escape }}</a>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
