{%- liquid
  assign nweBadgeDate = product.metafields.meta.product_new_badge.value | date: '%s'
  assign today_date = 'now' | date: '%s'

  if settings.badge_style == 'style1'
    assign badge = 'badge--text h5 mb-0'
  else
    assign badge = 'badge'
  endif
-%}

<span class="product-grid-item__badges badge--{{ section.settings.badge_position }}">
  {%- if product.available == false -%}
    {% if settings.sold_out_badges_show %}
      <span
        class="{{ badge }}  {% if settings.badge_style == "style2" %} color-{{ settings.sold_out_badge_color_scheme }} {% else %} color-foreground-{{ settings.sold_out_badge_color_scheme }}  {% endif %}"
        aria-hidden="true"
      >
        {{- 'products.product.sold_out' | t | capitalize -}}
      </span>
    {% endif %}
  {%- elsif product.compare_at_price > product.price and product.available -%}
    <span
      class="{{ badge }} badge--round {% if settings.badge_custom_color %}badge--round__color{% endif %} badge--bottom-left {% if settings.badge_style == "style2" %} color-{{ settings.sale_badge_color_scheme }} {% else %} color-foreground-{{ settings.sale_badge_color_scheme }} {% endif %}"
      aria-hidden="true"
    >
      {%- if settings.sale_percentage_show -%}
        <span class="sale__save--percent"
          >-
          {{-
            product.selected_or_first_available_variant.compare_at_price
            | minus: product.selected_or_first_available_variant.price
            | times: 100.0
            | divided_by: product.selected_or_first_available_variant.compare_at_price
            | money_without_currency
            | replace: ',', '.'
            | times: 100
            | remove: '.0'
          -}}
          %</span
        >
      {%- endif -%}

      {%- if settings.sale_text_show -%}
        <span class="sale__text">{{ 'products.product.on_sale' | t | capitalize }}</span>
      {%- endif -%}
    </span>
  {%- endif -%}

  {%- if product.metafields.meta.product_new_badge.value -%}
    {%- if today_date < nweBadgeDate -%}
      {% if settings.new_badges_show %}
        <span class="{{ badge }} badge--round badge--round__color {% if settings.badge_style == "style2" %} color-{{ settings.new_badge_color_scheme }} {% else %} color-foreground-{{ settings.new_badge_color_scheme }} {% endif %}">
          {{- 'products.product.new_badge' | t | capitalize -}}
        </span>
      {% endif %}
    {%- endif -%}
  {%- endif -%}
</span>
