{% liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif
%}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'section-slider-button-controls.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.mobile_padding_top }}px;
     padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
     --padding-top: {{ section.settings.mobile_padding_top }}px;
   }

   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
       --padding-top: {{ section.settings.padding_top }}px;
     }
   }
   #MainContent > :first-child .section--top-space-{{ section.id }} {
     padding-top: calc(var(--header-height) * var(--transparent-header-show) + var(--padding-top));
   }
   #section__{{ section.id }}.collection__list--slider.slider--controls--button{
      --slider-button-background: {{ section.settings.button_background }};
      --slider-button-color: {{ section.settings.button_text_color }};
   }
   {% liquid
      assign media_query = settings.container_lg_width | plus: 130
    %}
   {% if section.settings.full_width %}
    @media only screen and (min-width: 750px){
      #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-prev.product__slider--button {
          left: 0;
      }
      #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-next.product__slider--button {
          right: 0;
      }
    }
   {% else %}
      @media only screen and (min-width: {{ media_query }}px){
        #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-prev.product__slider--button {
            left: -9rem;
        }
        #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-next.product__slider--button {
            right: -9rem;
        }
      }
   {% endif %}
   {%- if section.settings.custom_colors_navigation -%}
      #section__{{ section.id }}.collection__list--slider.slider--controls--button{
          --color-foreground: {{ section.settings.nav_foreground.red }}, {{ section.settings.nav_foreground.green }}, {{ section.settings.nav_foreground.blue }};
          --color-background: {{ section.settings.nav_background.red }}, {{ section.settings.nav_background.green }}, {{ section.settings.nav_background.blue }};
      }
      #section__{{ section.id }}.collection__list--slider.slider--controls--button .product__slider--button{
          background: rgba(var(--color-background));
      }
      #section__{{ section.id }}.collection__list--slider.slider--controls--button .product__slider--button:hover, #section__{{ section.id }}.collection__list--slider.slider--controls--button .product__slider--button:focus-visible {
         background: var(--slider-button-background);
      }
   {%- endif -%}
  {% if section.settings.full_width %}
   @media only screen and (min-width: 1600px){
     .container-fluid.page--width-{{ section.id }}{
       --offset-fluid: 3rem;
     }
   }
   @media only screen and (max-width: 1599px){
     .container-fluid.page--width-{{ section.id }}{
       --offset-fluid: 1.5rem;
     }
   }
   {% endif %}

    {%- if theme_rtl and section.settings.navigation_position != 'middle' -%}
      #section__{{ section.id }} .product__slider--button svg {
        transform: rotate(180deg);
      }
    {%- endif -%}

  .cart_text__below{
    align-items: var(--align-items);
    text-align: var(--text-align);
  }
  .cart_text__below.card_plain__text{
    box-shadow: none;
  }

  {%- if section.settings.title_below__image -%}
    {% if section.settings.title_alignment == 'content--start' %}
      .cart_text__below{
        --align-items: flex-start;
        --text-align: left;
      }
    {%  elsif section.settings.title_alignment == 'content--middle' %}
      .cart_text__below{
        --align-items: center;
        --text-align: center;
      }
    {% else %}
      .cart_text__below{
        --align-items: flex-end;
        --text-align: right;
      }
    {% endif %}
  {% else %}
      assign content_below_alignment = ''
  {% endif %}
{%- endstyle -%}

{%- liquid
  if section.settings.layout == 'masonry'
    assign columns = section.blocks.size
    if columns > 3
      assign columns = 3
    endif
  else
    assign columns = section.settings.column
  endif

  if section.settings.layout == 'standard'
    assign column_set = section.settings.column
    case column_set
      when '1'
        assign column_class_standard = 'col-12'
      when '2'
        assign column_class_standard = 'col-md-6 col-sm-6 col-12'
      when '3'
        assign column_class_standard = 'col-md-4 col-sm-6 col-12'
      when '4'
        assign column_class_standard = 'col-md-3 col-sm-6 col-12'
      else
        assign column_class_standard = 'col'
    endcase
  endif

  if section.settings.layout == 'slider'
    assign slider_enable = true
  endif

  if slider_enable
    assign showPagination = section.settings.show_pagination
    assign showNavigation = section.settings.show_navigation

    assign productShowXl = section.settings.column
    assign productShowSm = section.settings.products_show_on_sm
    assign slideAutoplay = section.settings.auto_rotate
    assign autoplay_time = section.settings.autoplay_time
  endif

  if section.settings.navigation_position == 'middle'
    assign nav_position = 'absolute'
    assign nav_justify = 'space-between'
    assign nav_top = '50%'
    assign nav_left = 'nav--left'
    assign nav_right = 'nav--right'
    assign nav_transform = 'translateY(-50%)'
  elsif section.settings.navigation_position == 'bottom'
    assign nav_justify = 'center'
    assign nav_margintop = '30px'
    assign nav_width = '100%'
  endif

  if section.settings.navigation_type == 'solid'
    assign navigation_type = 'navigation--solid'
  else
    assign navigation_type = 'navigation--outline'
  endif

  assign container = ''
  if section.settings.full_width
    assign container = 'container-fluid page--width-{{ section.id }}'
  elsif section.settings.custom_width and section.settings.full_width == false
    assign container = 'container container-3'
  else
    assign container = 'container'
  endif

  assign content_below_alignment = ''
  if section.settings.title_below__image
    if section.settings.title_alignment == 'content--start'
      assign content_below_alignment = ''
    elsif section.settings.title_alignment == 'content--center'
      assign content_below_alignment = ''
    else
      assign content_below_alignment = ''
    endif
  else
    assign content_below_alignment = ''
  endif
-%}

{%- capture slider_wrapper -%}
  {%- if slider_enable -%}
    productSlider swiper
  {%- else -%}
    row {% if section.settings.column == "5" %} row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 {% endif %}
  {%- endif -%}
{%- endcapture -%}

<div
  class="collection-list-wrapper collection-list-section section--top-space-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-slider"
  data-slider-enable="{{ slider_enable }}"
  style="background:rgb(var(--color-background))"
  {% if slider_enable %}
    data-show-mobile="{{ productShowSm }}"
    data-show-tablet="3"
    data-show-large="4"
    data-show-extra-large="{{ productShowXl }}"
    data-autoplay="{{ slideAutoplay }}"
    data-autoplay-time="{{ autoplay_time }}000"
  {% endif %}
>
  <div class="{{ container }}">
    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      <div
        class="slider__heading--wrapper d-flex align-items-end {% if section.settings.heading != blank or section.settings.subtitle != blank  %}mb-50 {% endif %}"
      >
    {% endif %}

    <div class="section-heading text-{{ section.settings.alignment }} mobile-text-{{ section.settings.mobile_alignment }} {% if slider_enable and section.settings.navigation_position == "top"  %} flex-grow-1 {% else %} {% if section.settings.heading != blank or section.settings.subtitle != blank  %}mb-50 {% endif %} {% endif %}">
      <h2 class="section-heading__title {{ section.settings.heading_size }} rte">
        {{- section.settings.heading | replace: 'p>', 'span>' -}}
      </h2>
      <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
    </div>

    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      <div
        class="collection__list--slider slider--controls--button d-flex align-items-center color-{{ section.settings.navigation_color_scheme }} {{ navigation_type }}"
        id="section__{{ section.id }}"
      >
        {%- if showNavigation -%}
          <div class="swiper-button-prev product__slider--button">{% render 'slider-left-arrow-icon' %}</div>
        {%- endif -%}
        {%- if showPagination -%}
          <div class="swiper-pagination product__slider--pagination"></div>
        {%- endif -%}
        {%- if showNavigation -%}
          <div class="swiper-button-next product__slider--button">{% render 'slider-right-arrow-icon' %}</div>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      </div>
    {% endif %}

    <div class="collection--list-slider">
      <div class="collection-list {{ slider_wrapper }}">
        {%- if slider_enable -%}<div class="swiper-wrapper">{% endif %}
        {%- for block in section.blocks -%}
          {%- liquid
            if section.settings.layout == 'masonry'
              if forloop.index > 2
                assign column_class = 'col-md-4 col-sm-6 col-12'
              else
                assign column_class = 'col-md-6 col-sm-6 col-12'
              endif
            endif
          -%}

          <div
            class="collection-list__item {% if slider_enable %} swiper-slide {% else %} {{ column_class }} {{ column_class_standard }} mb-30{% endif %}  color-{{ section.settings.card_color_scheme }}"
            {{ block.shopify_attributes }}
          >
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
            {%- render 'collection-card',
              collection: block.settings.collection,
              product_count: section.settings.product_count,
              columns: section.settings.column,
              image_ratio: section.settings.image_ratio,
              title_position: section.settings.title_position,
              title_alignment: section.settings.title_alignment,
              custom_image: block.settings.collection_custom_image,
              placeholder_image: placeholder_image,
              single_title: block.settings.single_collection__title,
              title_below_image: section.settings.title_below__image,
              rounded_image: section.settings.rounded_image,
              button_show: section.settings.shop_button,
              button_text: section.settings.button_label,
              button_type: section.settings.button_type,
              button_size: section.settings.button_size,
              button_icon: section.settings.button_icon
            -%}
          </div>
        {%- endfor -%}

        {%- if slider_enable -%}
          </div>
        {%- endif -%}
      </div>

      {%- if slider_enable
        and section.settings.navigation_position == 'middle'
        or section.settings.navigation_position == 'bottom'
      -%}
        <div
          class="collection__list--slider slider--controls--button slider--navgaition-button-absolute color-{{ section.settings.navigation_color_scheme }} {{ navigation_type }}"
          id="section__{{ section.id }}"
          style="
            display: flex;
            width: {{ nav_width }};
            z-index: 1;
            justify-content: {{ nav_justify }};
            margin-top: {{ nav_margintop }};
          "
        >
          {%- if showNavigation -%}
            <div
              class="swiper-button-prev product__slider--button {{ nav_left }}"
              style="
                top: 50%;
                z-index: 1;
                position: {{ nav_position }};
                transform: {{ nav_transform }};
                left: {{ nav_left }};
              "
            >
              {% render 'slider-left-arrow-icon' %}
            </div>
          {%- endif -%}
          {%- if showPagination -%}
            <div class="swiper-pagination product__slider--pagination"></div>
          {%- endif -%}
          {%- if showNavigation -%}
            <div
              class="swiper-button-next product__slider--button {{ nav_right }}"
              style="
                top: 50%;
                z-index: 1;
                position: {{ nav_position }};
                transform: {{ nav_transform }};
              "
            >
              {% render 'slider-right-arrow-icon' %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "disabled_on": {
      "groups": ["header","footer"]
  },
  "tag": "section",
  "class": "spaced-section collection-list-section",
  "max_blocks": 15,
  "settings": [
    {
        "type": "text",
        "id": "heading",
        "label": "t:sections.collection-list.settings.title.label"
    },
	{
      "type": "select",
      "id": "heading_size",
      "options": [
          {
            "value": "h0",
            "label": "Large"
          },
          {
            "value": "h1",
            "label": "Medium"
          },
          {
            "value": "h2",
            "label": "Small"
          }
       ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
	{
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Heading alignment"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "standard",
          "label": "Grid"
        },
        {
          "value": "masonry",
          "label": "Collage"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "slider",
      "label": "Layout"
    },
	{
      "type": "select",
      "id": "column",
      "options": [
		{
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
		{
          "value": "4",
          "label": "4"
        },
		{
          "value": "5",
          "label": "5"
        }
      ],
      "default": "5",
      "label": "Number of columns on desktop",
	  "info": "Except for the collage layout, Works on all other layouts"
    },
	{
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Container full width"
    },
	{
      "type": "checkbox",
      "id": "custom_width",
      "default": false,
      "label": "Container custom width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-11",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "Collection card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "adapt",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "checkbox",
      "id": "rounded_image",
      "default": true,
      "label": "Round the corners of the image"
    },
	{
      "type": "select",
      "id": "title_position",
      "options": [
		{
          "value": "text--top",
          "label": "Top"
        },
        {
          "value": "text--middle",
          "label": "Middle"
        },
        {
          "value":"text--bottom",
          "label": "Bottom"
        },
        {
          "value": "text--between",
          "label": "Split"
        }
      ],
      "default": "text--middle",
      "label": "Content position"
    },
	{
      "type": "select",
      "id": "title_alignment",
      "options": [
		{
          "value": "content--start",
          "label": "Start"
        },
        {
          "value": "content--middle",
          "label": "Middle"
        },
        {
          "value": "content--end",
          "label": "End"
        }
      ],
      "default": "content--middle",
      "label": "Content alignment"
    },
    {
       "type": "checkbox",
        "id": "title_below__image",
        "default": false,
        "label": "Show text below image"
    },
    {
      "type": "checkbox",
      "id": "product_count",
      "default": false,
      "label": "Show product count"
    },
    {
      "type": "checkbox",
      "id": "shop_button",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop now",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "default": "solid",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "plain_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "default": "small",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
           {
          "value": "small",
          "label": "Small"
        }
      ]
    },
	{
      "type": "checkbox",
      "id": "button_icon",
      "label": "Show button icon",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "default": "scheme-2",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
	{
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 2,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 3
    },
    {
        "type": "checkbox",
        "id": "show_navigation",
        "label": "Show navigation",
        "default": true
    },
     {
      "type": "select",
      "id": "navigation_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle",
      "label": "Navigation position"
    },
    {
      "type": "select",
      "id": "navigation_type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline",
      "label": "Navigation type"
    },
    {
      "type": "color_scheme",
      "id": "navigation_color_scheme",
      "default": "scheme-2",
      "label": "Navigation color"
    },
     {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading alignment"
    },
    {
        "type": "select",
        "id": "products_show_on_sm",
        "label": "Number of columns on mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
	{
      "type": "header",
      "content": "Section padding"
    },
    {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "header",
          "content": "Replacement content"
        },
        {
          "type": "text",
          "id": "single_collection__title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "collection_custom_image",
          "label": "t:sections.collage.blocks.image.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
        "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
		{
          "type": "featured_collection"
        },
		{
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
