{% comment %}
  Shopify Compare
  Usage:
    - Create a new page in the Shopify admin
      - Admin > Online store > Pages > Add page
    - Set the new page's template to: 'page.wishlist' (this template)
    - Do NOT remove the `grid-wishlist` attribute
  
  Notes:
  - The grid will be populated with product cards using Javascript
  - Any content inside of the `[grid-wishlist]` element will be completely replaced by the product cards
  
  Tip:
  - Place a loading element inside the `[grid-wishlist]` element and it will automatically be removed once the product cards have loaded
  - Add any liquid code before/after the grid element
{% endcomment %}

{{ 'product-card-item.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .compare {
    background: rgb(var(--color-background))
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="compare customer-page theme-default-margin color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding" id="compare">
  <div class="container">
    <div class="compare-page">
      <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-2" grid-compare>

      </div>
      <div class="row compare-grid--empty-list">
        <div class="col-12">
          <div class="empty-list--info">
            <h1 class="empty-list--text black">Empty Compare</h1>
            <p class="lezada-button-link"><a href="{{ routes.all_products_collection_url }}">Continue Browsing</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .compare_exists .row.compare-grid--empty-list {
    display: none;
  }
  .product__details .product__details_single_info + .product__details_single_info {
    border-top: 1px solid #ddd;
  }
  .product__details_single_info {
    display: flex;
    justify-content: space-between;
    padding: 8px 3px;
    color: rgb(var(--color-foreground))
  }

  .product__details_info_head {text-transform: capitalize;}
  .product__details_info_head {
    font-weight: 600;
  }
</style>

{% schema %}
  {
    "name": "Compare Listing",
    "settings": [
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "scheme-12",
          "label": "Color scheme"
        },
    	{
          "type": "header",
          "content": "Section padding"
        },
		{
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        }
    ]
  }
{% endschema %}
