{% liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif
%}
{{ 'product-card-item.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'countdown-timer.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-slider-button-controls.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .rating {
     display: inline-block;
     margin: 0;
   }
   .product .rating-star {
     --letter-spacing: 0.8;
     --font-size: 1.7;
   }
   .product-grid-item .rating-star {
     --letter-spacing: 0.7;
     --font-size: 1.4;
   }
   .rating-star {
     --percent: calc(
       (
           var(--rating) / var(--rating-max) + var(--rating-decimal) *
             var(--font-size) /
             (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
         ) * 100%
       );
       letter-spacing: calc(var(--letter-spacing) * 1rem);
       font-size: calc(var(--font-size) * 1rem);
       line-height: 1;
       display: inline-block;
       font-family: Times;
       margin: 0;
     }
     .rating-star::before {
       content: '★★★★★';
       background: linear-gradient(
         90deg,
         var(--color-icon) var(--percent),
         rgba(var(--color-foreground), 0.15) var(--percent)
       );
       /* background: rgb(var(--color-foreground)); */
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     .rating-text {
       display: none;
     }
     .rating-count {
       display: inline-block;
       margin: 0;
     }
     @media (forced-colors: active) {
       .rating {
         display: none;
       }
       .rating-text {
         display: block;
       }
     }
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.mobile_padding_top }}px;
       padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
       --padding-top: {{ section.settings.mobile_padding_top }}px;
     }
     @media screen and (min-width: 750px) {
       .section-{{ section.id }}-padding {
         padding-top: {{ section.settings.padding_top }}px;
         padding-bottom: {{ section.settings.padding_bottom }}px;
         --padding-top: {{ section.settings.padding_top }}px;
       }
     }
     #section__{{ section.id }}.collection__list--slider.slider--controls--button{
        --slider-button-background: {{ section.settings.button_background }};
        --slider-button-color: {{ section.settings.button_text_color }};
     }

     #MainContent > :first-child .section--top-space-{{ section.id }} {
       padding-top: calc(var(--header-height) * var(--transparent-header-show) + var(--padding-top));
     }
     {% liquid
       assign media_Query = settings.container_lg_width | plus: 130
     %}
     @media only screen and (min-width: {{ media_Query }}px){
        #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-prev.product__slider--button {
           left: -6.5rem;
       }
       #section__{{ section.id }}.slider--navgaition-button-absolute .swiper-button-next.product__slider--button {
           right: -6.5rem;
       }
     }
    {%- if theme_rtl and section.settings.navigation_position != 'middle' -%}
      #section__{{ section.id }} .product__slider--button svg {
        transform: rotate(180deg);
      }
    {%- endif -%}
{%- endstyle -%}

{%- liquid
  assign more_in_collection = false
  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign productShowXl = section.settings.products_show_on_xl
  assign productShowSm = section.settings.products_show_on_sm
  assign slideAutoplay = section.settings.auto_rotate
  assign autoplay_time = section.settings.autoplay_time

  assign slider_enable = section.settings.slider_enable
  assign productItem = 'col mb-30'

  if slider_enable
    assign productItem = 'swiper-slide'
    assign showPagination = section.settings.show_pagination
    assign showNavigation = section.settings.show_navigation

    if showPagination
      assign pagination_margin = 'mb-50'
    endif
  endif

  if section.settings.navigation_position == 'middle'
    assign nav_position = 'absolute'
    assign nav_justify = 'space-between'
    assign nav_top = '50%'
    assign nav_left = '0'
    assign nav_right = '0'
    assign nav_transform = 'translateY(-50%)'
  elsif section.settings.navigation_position == 'bottom'
    assign nav_justify = 'center'
    assign nav_margintop = '30px'
    assign nav_width = '100%'
  endif

  if section.settings.navigation_type == 'solid'
    assign navigation_type = 'navigation--solid'
  else
    assign navigation_type = 'navigation--outline'
  endif
-%}

{%- capture productWrapper -%}
  {%- if slider_enable -%}
    productSlider swiper
  {%- else -%}
    row row-cols-xl-{{ productShowXl }} row-cols-md-3 row-cols-sm-2 row-cols-{{ productShowSm }}
  {%- endif -%}
{%- endcapture -%}
{%- if theme_rtl -%}
  {{ 'product-card-item-rtl.css' | asset_url | stylesheet_tag }}
{%- endif -%}
<div
  class="section section--top-space-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if section.settings.custom_colors %} custom--colors-{{ section.id }}{% endif %}"
  style="background:rgb(var(--color-background))"
  data-section-id="{{ section.id }}"
  data-section-type="product-slider"
  data-slider-enable="{{ slider_enable }}"
  {% if slider_enable %}
    data-show-mobile="{{ productShowSm }}"
    data-show-tablet="3"
    data-show-large="4"
    data-show-extra-large="{{ productShowXl }}"
    data-autoplay="{{ slideAutoplay }}"
    data-autoplay-time="{{ autoplay_time }}000"
    data-slider-loop="true"
  {% endif %}
>
  <div class="container">
    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      <div class="slider__heading--wrapper d-flex align-items-end mb-50">
    {% endif %}

    {% if section.settings.heading != blank or section.settings.subtitle != blank %}
      <div class="section-heading text-{{ section.settings.alignment }} mobile-text-{{ section.settings.mobile_alignment }} {% if slider_enable and section.settings.navigation_position == "top" %} flex-grow-1 {% else %} mb-50 {% endif %}">
        <h2 class="section-heading__title {{ section.settings.heading_size }} rte">
          {{- section.settings.heading | replace: 'p>', 'span>' -}}
        </h2>
        <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
      </div>
    {% endif %}

    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      <div
        class="collection__list--slider controls--top slider--controls--button d-flex align-items-center color-{{ section.settings.navigation_color_scheme }} {{ navigation_type }}"
        id="section__{{ section.id }}"
      >
        {%- if showNavigation -%}
          <div class="swiper-button-prev product__slider--button">{% render 'slider-left-arrow-icon' %}</div>
        {%- endif -%}
        {%- if showPagination -%}
          <div class="swiper-pagination product__slider--pagination"></div>
        {%- endif -%}
        {%- if showNavigation -%}
          <div class="swiper-button-next product__slider--button">{% render 'slider-right-arrow-icon' %}</div>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if slider_enable and section.settings.navigation_position == 'top' -%}
      </div>
    {% endif %}

    {%- liquid
      assign featured_product_limit = section.settings.products_to_show
      assign collection = collections[section.settings.collection]
    -%}
    <div class="product_slider_wrapper">
      <div class="{{ productWrapper }} {%- if slider_enable == false -%} mb--n30 {% endif -%} collection__product color-{{ section.settings.card_color_scheme }}">
        {%- if slider_enable -%}<div class="swiper-wrapper">{% endif %}
        {%- for product in collection.products limit: featured_product_limit -%}
          <div class="{{ productItem }}">
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}

            {% render 'product-card-item',
              product_card_product: product,
              media_size: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_badge: section.settings.show_badges,
              show_cart_button: section.settings.show_cart_button,
              cart_button_place: section.settings.cart_button_positon,
              show_countdown: section.settings.show_countdown,
              show_countdown_on_image: section.settings.place_timer_on_image,
              show_title: section.settings.show_title,
              show_price: section.settings.show_price,
              show_rating: section.settings.show_product_rating,
              round_image: section.settings.image_round_corner,
              color_swatches: section.settings.color_swatches,
              show_cart_action: section.settings.show_cart_action,
              placeholder_image: placeholder_image
            %}
          </div>
        {%- else -%}
          {%- assign a = 1 -%}
          {%- for i in (1..section.settings.products_show_on_xl) -%}
            {% liquid
              assign placeholder_count = forloop.rindex
              if placeholder_count == 5
                assign placeholder_count = 1
              endif
            %}
            {%- liquid
              assign placeholder_image = 'product-apparel-' | append: placeholder_count
            -%}
            {%- render 'product-card-placeholder',
              product_item: placeholder_image,
              productItem: productItem,
              round_image: section.settings.image_round_corner
            -%}
            {%- liquid
              if a == 7
                assign a = 1
              endif
            -%}
          {%- endfor -%}
        {%- endfor -%}
        {%- if slider_enable -%}</div>{% endif %}
      </div>

      {%- if slider_enable
        and section.settings.navigation_position == 'middle'
        or section.settings.navigation_position == 'bottom'
      -%}
        <div
          class="collection__list--slider slider--controls--button slider--navgaition-button-absolute color-{{ section.settings.navigation_color_scheme }} {{ navigation_type }}"
          id="section__{{ section.id }}"
          style="
            display: flex;
            width: {{ nav_width }};
            z-index: 1;
            justify-content: {{ nav_justify }};
            margin-top: {{ nav_margintop }};
          "
        >
          {%- if showNavigation -%}
            <div
              class="swiper-button-prev product__slider--button"
              style="
                top: 50%;
                z-index: 1;
                position: {{ nav_position }};
                transform: {{ nav_transform }};
                left: {{ nav_left }};
              "
            >
              {% render 'slider-left-arrow-icon' %}
            </div>
          {%- endif -%}
          {%- if showPagination -%}
            <div class="swiper-pagination product__slider--pagination"></div>
          {%- endif -%}
          {%- if showNavigation -%}
            <div
              class="swiper-button-next product__slider--button"
              style="
                top: 50%;
                z-index: 1;
                position: {{ nav_position }};
                transform: {{ nav_transform }};
                right: {{ nav_right }};
              "
            >
              {% render 'slider-right-arrow-icon' %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    {% liquid
      if section.settings.button_style == 'solid'
        assign button_class = 'solid'
      elsif section.settings.button_style == 'outline'
        assign button_class = 'outline'
      else
        assign button_class = 'link'
      endif
    %}

    {%- if section.settings.show_view_all and more_in_collection and section.settings.button_label != blank -%}
      <div class="row text-center {% if slider_enable  %} mt-50 {% else %} mt-30 {% endif %}">
        <div class="col">
          <a
            href="{{ collection.url }}"
            id="loadMoreBtn"
            class="button button--{{ section.settings.button_size }} button--{{ button_class }}"
          >
            {{- section.settings.button_label -}}
          </a>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "disabled_on": {
      "groups": ["header","footer"]
  },
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
        "type": "text",
        "id": "heading",
        "default": "<p>Featured collection</p>",
        "label": "t:sections.featured-collection.settings.title.label"
    },
    {
    "type": "select",
    "id": "heading_size",
    "options": [
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h2",
          "label": "Small"
        }
     ],
     "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Desktop heading alignment"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile heading alignment"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
	{
      "type": "header",
      "content": "Product card"
    },
  	{
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
          },
          {
            "value": "landscape",
            "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__4.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "image_round_corner",
      "default": true,
      "label": "Round the corners of the image"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "default": true,
      "label": "Show title"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "default": true,
      "label": "Show price"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "default": false,
      "label": "Show product rating"
    },
    {
      "type": "checkbox",
      "id": "show_cart_action",
      "default": false,
      "label": "Always show cart button"
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "default": true,
      "label": "Show badges"
    },
    {
      "type": "select",
      "id": "badge_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ],
      "default": "top-left",
      "label": "Badge position on desktop"
    },
    {
      "type": "checkbox",
      "id": "show_cart_button",
      "default": true,
      "label": "Enable action button"
    },
    {
      "type": "select",
      "id": "cart_button_positon",
      "label": "Quick shop position on desktop",
      "default": "top_right",
      "options": [
        {
          "value": "top_center",
          "label": "Top center"
        },
        {
          "value": "top_left",
          "label": "Top left"
        },
        {
          "value": "top_right",
          "label": "Top right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "card_color_scheme",
      "default": "scheme-2",
      "label": "Color for card"
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "default": true,
      "label": "Show countdown"
    },
    {
      "type": "color_scheme",
      "id": "timer_color_scheme",
      "default": "scheme-2",
      "label": "Color for countdown"
    },
    {
      "type": "checkbox",
      "id": "place_timer_on_image",
      "default": false,
      "label": "Position the countdown on the image for desktop"
    },
    {
      "type": "checkbox",
      "id": "color_swatches",
      "default": true,
      "label": "Enable color swatches",
      "info": "To display color swatches, you need to enable it."
    },
    {
      "type": "header",
      "content": "Grid settings"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 8,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
        "type": "select",
        "id": "products_show_on_xl",
        "label": "Number of columns on desktop",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "4"
      },
    {
        "type": "select",
        "id": "products_show_on_sm",
        "label": "Number of columns on mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "1"
      },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
        "type": "checkbox",
        "id": "slider_enable",
        "label": "Enable",
        "default": false
    },
	{
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 2,
      "max": 9,
      "step": 1,
      "unit": "s",
      "label": "Change slides every",
      "default": 3
    },
    {
        "type": "checkbox",
        "id": "show_navigation",
        "label": "Show navigation",
        "default": true
    },
     {
      "type": "select",
      "id": "navigation_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "middle",
          "label": "Middle"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "middle",
      "label": "Navigation position"
    },
    {
      "type": "select",
      "id": "navigation_type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline",
      "label": "Navigation type"
    },
    {
      "type": "color_scheme",
      "id": "navigation_color_scheme",
      "default": "scheme-1",
      "label": "Navigation color"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "View all"
    },
	{
      "type": "select",
      "id": "button_style",
      "label": "Button type",
      "default": "link",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "default": "large",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-11",
      "label": "Color label"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Feature collection"
    }
  ]
}
{% endschema %}
