{% liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif
%}
{{ 'footer.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'footer.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  .section-{{ section.id }}-padding.divider{
    border-top: 1px solid rgb(var(--border-color));
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  {% if section.settings.round_corner %}
    .footer{
      border-radius: 20px;
      margin-bottom: 20px;
      display: inline-flex;
      flex-direction: column;
      width: 100%;
    }
  {% endif %}
  {%- if theme_rtl -%}
    .footer__widget_title{
      padding-right: 0;
    }
    .footer__widget_title:before,
    .footer__widget_title:after{
      right: auto;
      left: 0;
    }
  {%- endif -%}
{%- endstyle -%}

{%- liquid
  assign column_width = section.settings.page_width
  if column_width == 'fixed'
    assign page_width = 'container'
  elsif column_width == 'full'
    assign page_width = 'container-fluid'
  else
    assign page_width = 'container-fluid p-0'
  endif

  if section.settings.content_alignment == 'left'
    assign content_alignment_class = 'justify-content-between'
  elsif section.settings.content_alignment == 'center'
    assign content_alignment_class = 'justify-content-center'
  else
    assign content_alignment_class = 'justify-content-center flex-direction-column gap-20'
  endif

  if section.settings.show_divider
    unless template.name == 'index'
      assign divider = 'divider'
    endunless
  endif

  if section.settings.show_divider_home and template.name == 'index'
    assign divider = 'divider'
  endif
-%}

<footer
  class="color-{{ section.settings.color_scheme }} {{ page_width }}"
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <div class="footer">
    <!-- Footer Top Start -->
    <div class="footer__top section-{{ section.id }}-padding {{ divider }}">
      <div class="container">
        <div class="row footer--grid {% if section.blocks.size > 5 %}footer__block--width {% endif %}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'about_us' -%}
                <div class="col about__us--widget" {{ block.shopify_attributes }}>
                  <div class="footer__widget">
                    <h2 class="footer__widget_title">
                      {{ block.settings.heading }}
                      <button class="footer__widget_toggle" aria-label="{{ block.settings.heading }}">
                        <span aria-hidden="true"> {{ block.settings.heading }} </span>
                      </button>
                    </h2>
                    <div class="footer__widget_inner">
                      <p>{{ block.settings.about_information }}</p>

                      {% render 'footer-localization', className: 'd-sm-none d-flex' %}
                    </div>
                  </div>
                </div>
              {%- when 'column_space' -%}
                <div
                  class="col {% if section.blocks.size >= 5 %} d-lg-none {% else %} d-md-none {% endif %}"
                  {{ block.shopify_attributes }}
                ></div>
              {%- when 'link_list' -%}
                <div class="col" {{ block.shopify_attributes }}>
                  <div class="footer__widget">
                    <h2 class="footer__widget_title">
                      {{ block.settings.heading }}
                      <button class="footer__widget_toggle" aria-label="{{ block.settings.heading }}">
                        <span aria-hidden="true"> {{ block.settings.heading }} </span>
                      </button>
                    </h2>
                    <div class="footer__widget_inner">
                      {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                        <ul class="list-unstyled">
                          {%- for link in block.settings.menu.links -%}
                            <li class="footer__list--item">
                              <a class="link link--text " href="{{ link.url }}">
                                {{ link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              {%- when 'contact_info' -%}
                <div class="col" {{ block.shopify_attributes }}>
                  <div class="footer__widget">
                    <h2 class="footer__widget_title">
                      {{ block.settings.heading }}
                      <button class="footer__widget_toggle" aria-label="{{ block.settings.heading }}">
                        <span aria-hidden="true"> {{ block.settings.heading }} </span>
                      </button>
                    </h2>
                    <div class="footer__widget_inner">
                      <div class="contact__info_box">
                        <p class="contact__info_description">
                          {{ block.settings.contact_description }}
                        </p>
                      </div>

                      {%- if block.settings.contact_number -%}
                        <div class="contact__info_box">
                          <span class="contact__info_title">Hotline:</span>
                          <a class="contact__info_text" href="tel:{{ settings.contact_phone }}">
                            {{- settings.contact_phone -}}
                          </a>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.contact_email -%}
                        <div class="contact__info_box">
                          <span class="contact__info_title">Email:</span>
                          <a class="contact__info_text" href="mailto:{{ settings.contact_email }}">
                            {{- settings.contact_email -}}
                          </a>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.contact_address -%}
                        <div class="contact__info_box">
                          <span class="contact__info_title">Address:</span>
                          <p class="contact__info_description">
                            {{- settings.contact_address -}}
                          </p>
                        </div>
                      {%- endif -%}

                      {%- if block.settings.social_media -%}
                        <div class="contact__info_box">
                          {%- render 'social-media', className: 'footer__list-social' -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              {%- when 'newsletter' -%}
                <div class="col" {{ block.shopify_attributes }}>
                  <div class="footer__widget">
                    <h2 class="footer__widget_title">
                      {{ block.settings.heading }}
                      <button class="footer__widget_toggle" aria-label="{{ block.settings.heading }}">
                        <span aria-hidden="true"> {{ block.settings.heading }} </span>
                      </button>
                    </h2>
                    <div class="footer__widget_inner">
                      <p style="color:rgb(var(--color-foreground))">{{ block.settings.newsletter_information }}</p>
                      {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="newsletter-form__field-wrapper">
                          <div class="input__field_form">
                            <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}">
                              {{ 'newsletter.label' | t }}
                            </label>
                            <input
                              id="NewsletterForm--{{ section.id }}"
                              type="email"
                              name="contact[email]"
                              class="input__field"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              style="background:rgb(var(--color-background))"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="ContactFooter-error"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="ContactFooter-success"
                              {% endif %}
                              placeholder="{{ 'newsletter.label' | t }}"
                              required
                            >
                            <button
                              type="submit"
                              class="input__field_form_button"
                              name="commit"
                              id="Subscribe"
                              aria-label="{{ 'newsletter.button_label' | t }}"
                            >
                              {% render 'icon-arrow' %}
                            </button>
                          </div>
                          {%- if form.errors -%}
                            <small class="newsletter-form__message form__message" id="ContactFooter-error">
                              {%- render 'icon-error' -%}
                              {{- form.errors.translated_fields.email | capitalize }}
                              {{ form.errors.messages.email -}}
                            </small>
                          {%- endif -%}
                        </div>
                        {%- if form.posted_successfully? -%}
                          <h3
                            class="newsletter-form__message newsletter-form__message--success form__message"
                            id="ContactFooter-success"
                            tabindex="-1"
                          >
                            {% render 'icon-success' -%}
                            {{- 'newsletter.success' | t }}
                          </h3>
                        {%- endif -%}
                      {%- endform -%}
                    </div>
                  </div>
                </div>
              {%- when 'image' -%}
                <div class="col" {{ block.shopify_attributes }}>
                  <div class="footer__widget">
                    <h2 class="footer__widget_title">
                      {{ block.settings.heading }}
                      <button class="footer__widget_toggle" aria-label="{{ block.settings.heading }}">
                        <span aria-hidden="true"> {{ block.settings.heading }} </span>
                      </button>
                    </h2>
                    <div class="footer__widget_inner">
                      <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                        {%- if block.settings.image != blank -%}
                          {%- assign image_size = block.settings.image_width | append: 'x' -%}
                          <img
                            srcset="{{ block.settings.image | img_url: image_size }}, {{ block.settings.image | img_url: image_size, scale: 2 }} 2x"
                            src="{{ block.settings.image | img_url: '400x' }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                            style="max-width: min(100%, {{ block.settings.image_width }}px);"
                          >
                        {%- else -%}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Bottom Start -->
    <div class="footer__bottom">
      <div class="container">
        <div class="row {{ content_alignment_class }}  align-items-center">
          <div class="col-12 col-md-auto mb--20">
            <span class="footer__copyright" style="color: rgb(var(--color-foreground))">
              {{- section.settings.copyright_text -}}
            </span>
          </div>

          <div class="col-12 col-md-auto mb--20">
            {% render 'footer-localization', className: '' %}

            {%- if section.settings.payment_enable -%}
              <div class="footer__payment">
                <ul class="list list-payment" role="list">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
      <!-- Footer Bottom End -->
    </div>
  </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme-12",
        "label": "t:sections.header.settings.color_scheme.label"
      },
      {
        "type": "select",
        "id": "page_width",
        "options": [
          {
            "value": "fixed",
            "label": "Default container"
          },
          {
            "value": "full",
            "label": "Full width"
          },
          {
            "value": "full_no_spacing",
            "label": "Full width no spacing"
          }
        ],
        "default": "fixed",
        "label": "Page content width"
      },
      {
        "type": "checkbox",
        "id": "round_corner",
        "label": "Round corner",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__3.content",
        "info": "t:sections.footer.settings.header__4.info"
      },
      {
        "type": "checkbox",
        "id": "enable_country_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_country_selector.label"
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__5.content",
        "info": "t:sections.footer.settings.header__6.info"
      },
      {
        "type": "checkbox",
        "id": "enable_language_selector",
        "default": true,
        "label": "t:sections.footer.settings.enable_language_selector.label"
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.header__7.content"
      },
      {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      },
      {
        "type": "header",
        "content": "Footer bottom"
      },
      {
        "type": "richtext",
        "id": "copyright_text",
        "default": "<p>Foesta shopify theme</p>",
        "label": "Copyright text"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content alignment",
        "default": "left",
        "options": [
          {
             "value": "center",
             "label": "Center"
          },
          {
             "value": "left",
             "label": "Left to right"
          },
          {
             "value": "top",
             "label": "Top to bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Divider"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "default": true,
        "label": "Show divider on inner pages"
      },
      {
        "type": "checkbox",
        "id": "show_divider_home",
        "default": true,
        "label": "Show divider on home page"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
         "type": "paragraph",
         "content": "Desktop"
      },
      {
         "type": "range",
         "id": "padding_top",
         "min": 0,
         "max": 150,
         "step": 5,
         "unit": "px",
         "label": "Padding top",
         "default": 60
      },
      {
         "type": "range",
         "id": "padding_bottom",
         "min": 0,
         "max": 150,
         "step": 5,
         "unit": "px",
         "label": "Padding bottom",
         "default": 60
      },
      {
         "type": "paragraph",
         "content": "Mobile"
      },
      {
         "type": "range",
         "id": "mobile_padding_top",
         "min": 0,
         "max": 150,
         "step": 5,
         "unit": "px",
         "label": "Padding top",
         "default": 30
      },
      {
         "type": "range",
         "id": "mobile_padding_bottom",
         "min": 0,
         "max": 150,
         "step": 5,
         "unit": "px",
         "label": "Padding bottom",
         "default": 30
      }
    ],
    "blocks": [
      {
         "type": "link_list",
         "name": "Menu",
         "settings": [
            {
               "type": "text",
               "id": "heading",
               "default": "Quick Links",
               "label": "t:sections.footer.blocks.text.settings.heading.label"
            },
            {
               "type": "link_list",
               "id": "menu",
               "default": "footer",
               "label": "t:sections.footer.blocks.link_list.settings.menu.label",
               "info": "t:sections.footer.blocks.link_list.settings.menu.info"
             }
         ]
      },
      {
        "type": "about_us",
        "name": "About us",
        "limit": 1,
        "settings": [
           {
             "type": "text",
             "id": "heading",
             "default": "About us",
             "label": "t:sections.footer.blocks.text.settings.heading.label"
           },
           {
             "type": "textarea",
             "id": "about_information",
             "label": "Text",
             "default": "Lorem ipsum dolor sit amet, consectel adipisicing elit, sed do eiusmod temp incidid ut labore et dolor"
           }
         ]
      },
      {
         "type": "contact_info",
         "name": "Contact Info",
         "settings": [
            {
              "type": "text",
              "id": "heading",
              "default": "Contact Info",
              "label": "t:sections.footer.blocks.text.settings.heading.label"
            },
            {
              "type": "textarea",
              "id": "contact_description",
              "label": "Description",
              "default": "Find a location nearest you."
            },
            {
              "type": "checkbox",
              "id": "contact_number",
              "default": true,
              "label": "Show contact number"
            },
            {
              "type": "checkbox",
              "id": "contact_email",
              "default": false,
              "label": "Show contact email"
            },
            {
              "type": "checkbox",
              "id": "contact_address",
              "default": true,
              "label": "Show address"
            },
            {
              "type": "checkbox",
              "id": "social_media",
              "default": false,
              "label": "Show social media"
            }
         ]
       },
      {
         "type": "newsletter",
         "name": "Newsletter",
          "limit": 1,
         "settings": [
            {
              "type": "textarea",
              "id": "newsletter_information",
              "label": "Text",
              "default": "Subscribe to our newsletter to receive news on update."
            },
            {
              "type": "text",
              "id": "heading",
              "default": "Newsletter",
              "label": "t:sections.footer.blocks.text.settings.heading.label"
            }
         ]
       },
      {
         "type": "image",
         "name": "Image",
         "settings": [
            {
             "type": "text",
             "id": "heading",
             "default": "Heading",
             "label": "t:sections.footer.blocks.text.settings.heading.label"
            },
            {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
            },
            {
             "type": "range",
             "id": "image_width",
             "min": 50,
             "max": 200,
             "step": 5,
             "unit": "px",
             "label": "Image width",
             "default": 100
            }
         ]
       },
      {
         "type": "column_space",
         "name": "Column space",
         "settings": [

         ]
       }
    ]
}
{% endschema %}
