{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'slideshow.css' | asset_url | stylesheet_tag }}
{{ 'product-card-item.css' | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link
    rel="stylesheet"
    href="{{ 'component-loading-overlay.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
{%- endif -%}

{%- liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif

  assign sticky = ''
  if section.settings.header_sticky
    assign sticky = 'header__sticky'
  endif

  if section.settings.transparent_header and request.page_type == 'index'
    assign transparent = 'transparent--header'
    assign color_enable = section.settings.transparent_header
  endif

  if section.settings.logo_2 != blank
    assign sm_none = 'd-sm-none'
    assign sm_visible = 'd-sm-only-visible'
  else
    assign sm_visible = 'd-none'
  endif

  unless request.page_type == 'index'
    if section.settings.logo_2 != blank
      assign sm_none_other = 'd-sm-none'
      assign sm_visible_other = 'd-sm-only-visible'
    else
      assign sm_visible_other = 'd-none'
    endif
  endunless

  assign cart_icon = section.settings.show_cart
-%}

<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'header-drawer.css' | asset_url | stylesheet_tag }}
{%- if section.settings.quick_drawer_button -%}
  {{ 'quick-drawer-button.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<style>
    .header__sticky{
      background: rgb(var(--color-background));
      /* box-shadow: 0 0 7px rgba(0, 0, 0, 0.15); */
      position: relative;
    }
    .header__sticky.sticky {
        position: fixed;
        width: 100%;
        --color-background: {{ section.settings.sticky_color_background.red }}, {{ section.settings.sticky_color_background.green }}, {{ section.settings.sticky_color_background.blue }};
        --color-foreground: {{ section.settings.sticky_text_color.red }}, {{ section.settings.sticky_text_color.green }}, {{ section.settings.sticky_text_color.blue }};
        background: rgb(var(--color-background));
        top: 0;
        left: 0;
        z-index: 98;
        padding: 0px 0;
        box-shadow: 0 0 7px rgb(0 0 0 / 15%);
        transition: .5s;
     }
    /* Header Inner */
    .header__inner {
      align-items: center;
      justify-content: space-between;
    }

    /* Header Logo */
    .header__menu {
      display: flex;
    }
    .header__menu_ul {
      display: flex;
      padding: 0;
      list-style: none;
      flex-wrap: wrap;
      margin: 0;
    }
    .header__menu_li {
      position: relative;
      flex-shrink: 0;
    }
    /* .header__menu_li + .header__menu_li {
        padding-left: 2.5rem;
    }
    @media only screen and (min-width: 1200px){
      .header__menu_li + .header__menu_li {
        padding-left: 4rem;
      }
    } */
    .header__menu_li:hover .header__menu_item {
       color: rgba(var(--color-foreground), 0.75) !important;
    }
    .header__menu_li:hover .header__menu_item::before {
      right: auto;
      left: 0;
      width: 100%;
    }
    {% if theme_rtl %}
    .header__menu_li + .header__menu_li {
        padding-right: 2.5rem;
    }
      @media only screen and (min-width: 1200px){
        .header__menu_li + .header__menu_li {
          padding-right: 4rem;
        }
      }
    {% else %}
      .header__menu_li + .header__menu_li {
        padding-left: 2.5rem;
    }
      @media only screen and (min-width: 1200px){
        .header__menu_li + .header__menu_li {
          padding-left: 4rem;
        }
      }
    {% endif %}
    .header__menu_li_child_mega_menu {
      position: static;
    }
    .header__menu_item {
        line-height: 1;
        position: relative;
        display: block;
        padding: 26px 0;
        color: rgba(var(--color-foreground));
        font-size: 18px;
        word-break: break-word;
        font-weight: 500;
    }

    /* Header Actions Buttons */
    .header__actions {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .header__actions_btn {
      position: relative;
      display: flex;
      padding: 26px 8px;
      color: rgba(var(--color-foreground));
      background: none;
      border: none;
    }
    .header__actions_btn:hover {
        color: rgba(var(--color-foreground),0.7);
    }
    .header__actions_btn svg {
      width: auto;
      height: 2rem;
    }
    .header__actions_btn--cart {
      padding-right: 10px;
    }
    .transparent_header_color .header__actions_btn_cart_num{
      /* color: #ffffff; */
    }
    .header__actions_btn_cart_num {
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
      position: absolute;
      top: 16px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      color: rgb(var(--color-background));
      border-radius: 50%;
      background-color: rgb(var(--color-foreground));
      letter-spacing: 0;
    }
    /* Off Canvas Mini Cart */
    {% if theme_rtl %}
      #offcanvas__mini_cart {
          position: fixed;
          width: 380px;
          background: #fff;
          height: 100%;
          left: 0;
          z-index: 99;
          top: 0;
          opacity: 0;
          visibility: hidden;
          background-color: rgb(var(--color-background));
          border-color: rgba(var(--color-foreground), 0.2);
          transform: translateX(-100%);
          transition: all 0.3s ease 0s;
      }
    {% else %}
      #offcanvas__mini_cart {
          position: fixed;
          width: 380px;
          background: #fff;
          height: 100%;
          right: 0;
          z-index: 99;
          top: 0;
          right: 0;
          opacity: 0;
          visibility: hidden;
          background-color: rgb(var(--color-background));
          border-color: rgba(var(--color-foreground), 0.2);
          transform: translateX(100%);
          transition: all 0.3s ease 0s;
      }
    {% endif %}
      @media only screen and (max-width: 400px){
        #offcanvas__mini_cart {
          width: 100%;
        }
      }
      @media only screen and (min-width: 992px){
        #offcanvas__mini_cart {
          width: 420px;
        }
      }

    .cart-notification-wrapper {
      position: relative;
      z-index: 9;
    }

    .cart-notification__header {
      align-items: flex-start;
      display: flex;
    }

    .cart-notification__heading {
      align-items: center;
      display: flex;
      flex-grow: 1;
      margin-bottom: 0;
      margin-top: 0;
    }

    .cart-notification__heading .icon-checkmark {
      color: rgb(var(--color-foreground));
      margin-right: 1rem;
      width: 1.3rem;
    }

    .cart-notification__links > * {
      margin-top: 1rem;
    }
    .action_drawer_heading .cart_notification--title {
      color: rgb(var(--color-foreground));
    }

    /* Offcanvas Search bar css  */
    #predictive__search_overlay {
        position: fixed;
        width: 100%;
        height: 200px;
        background: rgba(var(--color-background));
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 998;
        transition: all 0.3s ease 0s;
        transform: translateY(-100%);
      	display: flex;
        justify-content: center;
    }

    div#predictive__search_overlay.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .search__content_inner {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        flex-direction: row-reverse;
        width: 600px;
        padding: 0 20px;
    }
    button#search__close_btn {
        margin-left: 30px;
    }
    predictive-search.search-modal__form {
        position: relative;
    }
      #predictive__search_overlay.active + .offcanvas-overlay, #quick__information_overlay.active + .offcanvas-overlay {
        visibility: visible;
        opacity: 0.5;
      }
    /* Header Mobile css  */
    .mobile__menu_bar .icon-hamburger {
        width: 22px;
        height: 22px;
        color: rgba(var(--color-foreground));
    }

    a.header__logo_link {
        word-break: break-word;
        max-width: 300px;
        padding: 0px 0;
        display: flex;
    }
    @media only screen and (max-width: 991px){
      a.header__logo_link {
        text-align: center;
      }

    }
    @media only screen and (max-width: 600px){
      a.header__logo_link {
        max-width: 230px;
      }
    }
    @media only screen and (max-width: 400px){
      a.header__logo_link {
        max-width: 160px;
      }
    }

      @media only screen and (min-width: 992px){
        .quick--drawer-button-color{
           --color-foreground: {{ section.settings.color_foreground.red }}, {{ section.settings.color_foreground.green }}, {{ section.settings.color_foreground.blue }};
           --color-background: {{ section.settings.color_background.red }}, {{ section.settings.color_background.green }}, {{ section.settings.color_background.blue }};
         }
      }
      .transparent_header_color:not(.sticky){
      --color-foreground: {{ section.settings.transparent_color_foreground.red }}, {{ section.settings.transparent_color_foreground.green }}, {{ section.settings.transparent_color_foreground.blue }};
      }
      .transparent_header_color.sticky{
        background: rgb(var(--color-background))
      }
      {%- if section.settings.logo_position == "top_center" -%}
      @media only screen and (min-width: 991px){
        .header__logo {
          margin-left: 2.7rem;
        }
      }
      {%- endif -%}

    .header_bottom{
      position: relative;
      z-index: 9;
     }

    .header_bottom:not(.transparent_header_color) {
      box-shadow: 0 1px 5px rgba(var(--color-foreground),.05);
     }
    .header_bottom:not(.sticky) .transparent__header--sticky-logo, .header_bottom.sticky .transparent__header--logo {
      display: none;
    }


  @media only screen and (min-width: 320px) and (max-width: 991px) {
    .header__inner > div:last-child {
      flex-grow: 1;
    }
    .header_user__icon {
      display: none;
    }
    {% if section.settings.mobile_logo_position == 'center' %}
      .header__inner > * {
        flex: 1;
      }
      .header__logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    {% else %}
      .header__inner > * {
        flex: 0;
      }
      .header__logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    {% endif %}
  }
</style>

{{ 'header-submenu.css' | asset_url | stylesheet_tag }}

{%- if theme_rtl -%}
  {{ 'header-rtl.css' | asset_url | stylesheet_tag }}
{% endif %}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

<svg style="display: none">
  <symbol id="icon-caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
  </symbol>
</svg>

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'mainMenu.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header-drawer.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'mobile-nav.js' | asset_url }}" defer></script>
{%- if section.settings.header_sticky -%}
  <script src="{{ 'header-sticky.js' | asset_url }}" defer></script>
{%- endif -%}
<script src="{{ 'details-disclosure.js' | asset_url }}" defer></script>
<script src="{{ 'megamenuSlider.js' | asset_url }}" defer="defer"></script>

{%- unless template contains 'cart' -%}
  <script src="{{ 'cart_drawer_action.js' | asset_url }}" defer></script>
{%- endunless -%}
<header
  class="header {{ transparent }}"
  id="shopify__header__section"
  data-section-id="{{ section.id }}"
  data-section-type="header"
>
  <div class="{{ sticky }} {% unless color_enable %} color-{{ section.settings.color_scheme_header }} {% endunless %}  {% if color_enable %} transparent_header_color {% endif %} {{ section.settings.logo_position }}">
    <div class="container">
      <div class="header__inner row">
        <div class="col-auto d-none menu--bar-lines d-md-only-block">
          <div class="mobile__menu_bar header__actions_btn--menu inline-y-center">
            {% render 'icon-hamburger' %}
          </div>
        </div>

        {%- if section.settings.logo_position == 'top_center' -%}
          <div class="actions_btn--search-wrapper col-auto d-md-none">
            {% if section.settings.show_search %}
              <button
                class="header__actions_btn header__actions_btn--search"
                aria-label="{{ 'general.search.search' | t }}"
              >
                {% render 'icon-search' %}
              </button>
            {%- endif -%}
          </div>
        {%- endif -%}

        <!-- Header Logo Start -->
        <div class="header__logo col-auto">
          {% if section.settings.transparent_header
            and section.settings.logo_3 != blank
            and request.page_type == 'index'
          %}
            {%- if request.page_type == 'index' -%}
              <h1 class="header__heading mb-0 {{ sm_none }}">
            {%- endif -%}
            {%- render 'header-logo-3',
              className: 'header__logo_link',
              none: sm_none_other,
              logo_inner: section.settings.logo_inner
            -%}
            {%- if request.page_type == 'index' -%}
              </h1>
            {%- endif -%}
          {% else %}
            {%- if request.page_type == 'index' -%}
              <h1 class="header__heading mb-0 {{ sm_none }}">
            {%- endif -%}
            {%- render 'header-logo',
              className: 'header__logo_link',
              none: sm_none_other,
              logo_inner: section.settings.logo_inner
            -%}
            {%- if request.page_type == 'index' -%}
              </h1>
            {%- endif -%}
          {% endif %}

          {%- if section.settings.logo_2 != blank -%}
            {%- if request.page_type == 'index' -%}
              <h1 class="header__heading mb-0 {{ sm_visible }}">
            {%- endif -%}
            {%- render 'header-logo-2', className: 'header__logo_link', none: sm_visible_other -%}
            {%- if request.page_type == 'index' -%}
              </h1>
            {%- endif -%}
          {%- endif -%}
        </div>
        <!-- Header Logo End -->

        <!-- Header Menu Start -->
        <nav class="header__menu  col d-md-none justify-content-{{ section.settings.menu_position }}">
          {%- render 'menu-nav' -%}
        </nav>
        <!-- Header Menu End -->

        {%- liquid
          if section.settings.logo_position == 'top_center'
            unless section.settings.quick_drawer_button
              assign search_button_visible = 'd-md-only-visible'
            endunless
          endif
        -%}

        <!-- Header Actions Start -->
        <div class="header__actions col-auto">
          {%- if section.settings.drawer_menu and section.settings.quick_drawer_button -%}
            <button class="header__actions_btn information--drawer__trigger d-md-none">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M8.25763 2.34393H8.33257H26.4828C28.4328 2.26899 28.4328 5.23147 26.4828 5.15647H8.33257C6.42005 5.23141 6.34505 2.34393 8.25763 2.34393ZM26.4828 13.5941C28.3579 13.5941 28.3579 16.4066 26.4828 16.4066H16.2077C14.2952 16.4066 14.2952 13.5941 16.2077 13.5941H26.4828ZM26.4828 24.8442C28.3579 24.8442 28.3579 27.6567 26.4828 27.6567H3.45756C1.58254 27.6567 1.58254 24.8442 3.45756 24.8442H26.4828Z"/>
              </svg>
            </button>
          {%- endif -%}

          {%- if section.settings.quick_drawer_button -%}
            {% if section.settings.show_search or cart_icon or section.settings.user_icon %}
              <div class="quick__drawer--button__list quick--drawer-button-color">
            {%- endif -%}
          {%- endif -%}

          {% if section.settings.show_search %}
            <button
              class="header__actions_btn header__actions_btn--search {{ search_button_visible }}"
              aria-label="{{ 'general.search.search' | t }}"
            >
              {% render 'icon-search' %}
            </button>
          {%- endif -%}

          {% comment %}
            <a href="/pages/compare" class="header__actions_btn header__actions_btn--wishlist d-md-none">
              {% render 'icon-user' %}
              <span class="header__actions_btn_cart_num compare__count"></span>
            </a>
          {% endcomment %}
          <a href="/pages/wishlist" class="header__actions_btn header__actions_btn--wishlist d-md-none">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="none">
              <path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z" fill="currentColor"></path>
            </svg>
            <span
              class="header__actions_btn_cart_num wishlist__count color-{{ section.settings.color_scheme_header }}"
            ></span>
          </a>

          {% if section.settings.user_icon %}
            <a href="/account/login" class="header__actions_btn header_user__icon">
              {% render 'icon-user' %}
            </a>
          {% endif %}
          {%- unless template contains 'cart' or cart_icon != true -%}
            {%- if settings.cart_type == 'drawer' -%}
              <open-minicart>
                <a class="header__actions_btn header__actions_btn--cart" href="{{ routes.cart_url }}">
                  {% render 'icon-cart' %}

                  <div class="cart-count-bubble header__actions_btn_cart_num color-{{ section.settings.color_scheme_header }}">
                    {%- if cart.item_count < 100 -%}
                      <span id="cart-notification-count" aria-hidden="true">{{ cart.item_count }}</span>
                    {%- endif -%}
                    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                </a>
              </open-minicart>
            {%- else -%}
              <a href="{{ routes.cart_url }}" class="header__actions_btn header__actions_btn--cart">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M352 128C352 57.421 294.579 0 224 0 153.42 0 96 57.421 96 128H0v304c0 44.183 35.817 80 80 80h288c44.183 0 80-35.817 80-80V128h-96zM224 32c52.935 0 96 43.065 96 96H128c0-52.935 43.065-96 96-96zm192 400c0 26.467-21.533 48-48 48H80c-26.467 0-48-21.533-48-48V160h64v48c0 8.837 7.164 16 16 16s16-7.163 16-16v-48h192v48c0 8.837 7.163 16 16 16s16-7.163 16-16v-48h64v272z" />
                </svg>

                <div class="cart-count-bubble header__actions_btn_cart_num">
                  {%- if cart.item_count < 100 -%}
                    <span id="cart-notification-count" aria-hidden="true">{{ cart.item_count }}</span>
                  {%- endif -%}
                  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                </div>
              </a>
            {%- endif -%}
          {%- endunless -%}

          {%- if shop.customer_accounts_enabled and section.settings.user_icon -%}
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="header__actions_btn header__actions_btn--user d-md-none"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M313.6 288c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4zM416 464c0 8.8-7.2 16-16 16H48c-8.8 0-16-7.2-16-16v-41.6C32 365.9 77.9 320 134.4 320c19.6 0 39.1 16 89.6 16 50.4 0 70-16 89.6-16 56.5 0 102.4 45.9 102.4 102.4V464zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0-224c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z" />
                </svg>
                <span class="visually-hidden">
                  {%- liquid
                    if customer
                      echo 'customer.account_fallback' | t
                    else
                      echo 'customer.log_in' | t
                    endif
                  -%}
                </span>
              </a>
            {%- endif -%}
          {%- endif -%}

          {%- if section.settings.quick_drawer_button -%}
            {% if section.settings.show_search or cart_icon or section.settings.user_icon %}
              </div>
            {%- endif -%}
          {%- endif -%}

          {%- unless section.settings.quick_drawer_button -%}
            {%- if section.settings.drawer_menu -%}
              <button class="header__actions_btn information--drawer__trigger d-md-none">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M8.25763 2.34393H8.33257H26.4828C28.4328 2.26899 28.4328 5.23147 26.4828 5.15647H8.33257C6.42005 5.23141 6.34505 2.34393 8.25763 2.34393ZM26.4828 13.5941C28.3579 13.5941 28.3579 16.4066 26.4828 16.4066H16.2077C14.2952 16.4066 14.2952 13.5941 16.2077 13.5941H26.4828ZM26.4828 24.8442C28.3579 24.8442 28.3579 27.6567 26.4828 27.6567H3.45756C1.58254 27.6567 1.58254 24.8442 3.45756 24.8442H26.4828Z"/>
                </svg>
              </button>
            {%- endif -%}
          {%- endunless -%}
        </div>
      </div>
    </div>
  </div>
</header>
{%- if section.settings.drawer_menu -%}
  {%- render 'quick-information' -%}
{%- endif -%}

{%- render 'predictive-search-modal' -%}
{%- unless template contains 'cart' -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme_header -%}
{%- endunless -%}
{%- render 'mobile-offcanvas-menu' -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
    "name": "Header",
   "class": "section",
   "tag": "section",
   "blocks": [
      {
        "type": "mega-menu",
        "name": "Mega menu (Banner)",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Menu item",
            "info": "Enter the name of the menu item to which you want to add a mega menu. [Learn more](https://themeadora.com/doc)"
          },
          {
            "type": "header",
            "content": "Promotion1"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "height",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.image-with-text.settings.height.options__1.label"
              },
              {
                "value": "square",
                "label": "Square"
              },
      		 {
                "value": "portrait",
                "label": "Portrait"
              },
              {
                "value": "landscape",
                "label": "Landscape"
              },
              {
                "value": "16-9",
                "label": "Wide"
              }
            ],
              "default": "adapt",
              "label": "t:sections.image-with-text.settings.height.label"
            },
          {
              "type": "text",
              "id": "promo1_heading",
              "label": "Heading"
            },
          {
              "type": "richtext",
              "id": "promo1_text",
              "label": "Text"
            },
          {
              "type": "url",
              "id": "promo1_link",
              "label": "Link"
            },
          {
              "type": "header",
              "content": "Promotion2"
            },
          {
              "type": "image_picker",
              "id": "image_2",
              "label": "Image"
            },
          {
            "type": "select",
            "id": "height_2",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.image-with-text.settings.height.options__1.label"
              },
              {
                "value": "square",
                "label": "Square"
              },
      		{
                "value": "portrait",
                "label": "Portrait"
              },
              {
                "value": "landscape",
                "label": "Landscape"
              },
              {
                "value": "16-9",
                "label": "Wide"
              }
            ],
              "default": "adapt",
              "label": "t:sections.image-with-text.settings.height.label"
          },
          {
            "type": "text",
            "id": "promo2_heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "promo2_text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "promo2_link",
            "label": "Link"
          }
        ]
      }
  ],
  "settings": [
		{
        "type": "header",
        "content": "Logo"
      },
     	{
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
		{
        "type": "image_picker",
        "id": "logo_inner",
        "label": "Home page logo"
      },
     	{
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 250,
        "step": 10,
        "default": 100,
        "unit": "t:sections.header.settings.logo_width.unit",
        "label": "t:sections.header.settings.logo_width.label"
      },
		{
        "type": "select",
        "id": "logo_position",
        "label": "Desktop logo position",
        "default": "middle_left",
        "options": [
          {
            "value": "middle_left",
            "label": "Middle left"
          },
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          }
        ]
      },
      {
        "type": "header",
        "content": "Menu"
      },
		{
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      },
      {
        "type": "select",
        "id": "menu_position",
        "label": "Menu alignment",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "start",
            "label": "Left"
          },
          {
            "value": "end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Sticky header"
      },
		{
        "type": "checkbox",
        "id": "header_sticky",
        "default": true,
        "label": "Enable"
      },
      {
         "type": "color",
         "id": "sticky_color_background",
         "default": "#222222",
         "label": "Background color"
       },
       {
         "type": "color",
         "id": "sticky_text_color",
         "default": "#ffffff",
         "label": "Text color"
       },
      {
        "type": "header",
        "content": "General settings"
      },
		{
        "type": "checkbox",
        "id": "show_cart",
        "default": true,
        "label": "Show cart icon"
      },
	  {
        "type": "checkbox",
        "id": "show_search",
        "default": true,
        "label": "Show search icon"
      },
	  {
        "type": "checkbox",
        "id": "user_icon",
        "default": true,
        "label": "Show user icon"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
         "type": "color_scheme",
         "id": "color_scheme_header",
         "default": "scheme-11",
         "label": "t:sections.header.settings.color_scheme.label",
		  "info": "This color scheme won't work on the text color of the transparent header"
     },
		{
        "type": "header",
        "content": "Transparent header"
      },
		{
        "type": "checkbox",
        "id": "transparent_header",
        "default": false,
        "label": "Enable on homepage"
      },
      {
        "type": "image_picker",
        "id": "logo_3",
        "label": "Logo"
      },
		{
        "type": "color",
        "id": "transparent_color_foreground",
        "default": "#fff",
        "label": "Text color",
		  "info": "It works only when the transparent header is enabled"
      },
		{
        "type": "header",
        "content": "Drawer menu"
      },
		{
        "type": "checkbox",
        "id": "drawer_menu",
        "default": false,
        "label": "Enable"
      },
		{
        "type": "link_list",
        "id": "drawer-menu",
        "default": "main-menu",
        "label": "Menu"
      },
	  {
        "type": "header",
        "content": "Mobile Settings"
      },
	  {
        "type": "image_picker",
        "id": "logo_2",
        "label": "Logo"
      },
      {
        "type": "select",
        "id": "mobile_logo_position",
        "label": "Mobile logo position",
        "default": "center",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "start",
            "label": "Left"
          }
        ]
      },
      {
          "type": "checkbox",
          "id": "social_media",
          "label": "Social enable",
          "default": true
      }
   ]
}
{% endschema %}

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));

      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));

      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));

      this.onHideDropdown = this.closeSelector.bind(this);
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
      document.body.removeEventListener('click', this.onHideDropdown);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());

      document.body.addEventListener('click', this.onHideDropdown);
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (shouldClose) {
        this.hidePanel();
      }
      let eventTarget = event.target;
      if (!eventTarget.closest('.dropdown__open_label')) {
        this.hidePanel();
      }

    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}
