{{ 'component-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-mobile-scrolling.css' | asset_url | stylesheet_tag }}
{{ 'logo-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    --padding-top: {{ section.settings.mobile_padding_top }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top: {{ section.settings.padding_top }}px;
    }
  }
  #MainContent > :first-child .section--top-space-{{ section.id }} {
    padding-top: calc(var(--header-height) * var(--transparent-header-show) + var(--padding-top));
  }
  :root {
    --grid-desktop-vertical-spacing: 20px;
    --grid-desktop-horizontal-spacing: 20px;
    --grid-mobile-vertical-spacing: 20px;
    --grid-mobile-horizontal-spacing: 20px;
    --text-with-icon-border-color: {{ section.settings.logo_border_color }};
  }
  .section_seperator {
    display: block;
    border-top: 1px solid var(--text-with-icon-border-color);
  }
{%- endstyle -%}

{% liquid
  assign product_show_xl = section.settings.products_show_on_xl
  assign product_show_sm = section.settings.products_show_on_sm
  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-fluid'
  endif

  assign border_container = section.settings.logo_list_border_container
  if border_container == 'full_container'
    assign border_container = 'container-fluid'
  endif
%}

<div class="logo__list color-{{ section.settings.color_scheme }}">
  {% if section.settings.border_show_top %}
    <div class="{{ border_container }}">
      <span class="section_seperator"></span>
    </div>
  {% endif %}
  <div class="{{ container }} section--top-space-{{ section.id }} section-{{ section.id }}-padding">
    {% if section.settings.mobile_stack == false %}
      <div class="mobile--scoller">
        <div class="mobile--scoller-inner">
    {% endif %}
    <div class="logo__list--bar grid grid--{{ product_show_xl }}-col-desktop grid--{{ product_show_sm }}-col-tablet-down">
      {%- for block in section.blocks -%}
        <div class="logo__list--image grid__item" {{ block.shopify_attributes }}>
          {% if block.settings.image_link != blank %}
            <a role="link" class="d-block" href="{{ block.settings.image_link }}">
          {%- endif %}
          <div class="{% if block.settings.image != blank %} logo__list--media media--transparent{% else %} placeholder logo__list--placeholder{% endif %}">
            {%- if block.settings.image != blank -%}
              <img
                class="multicolumn-card__image"
                srcset="
                  {%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                  {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                  {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                  {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
                "
                src="{{ block.settings.image | image_url: width: 550 }}"
                sizes="
                  (min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                  (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                  calc(100vw - 30px)
                "
                alt="{{ block.settings.image.alt }}"
                height="{{ block.settings.image.height }}"
                width="{{ block.settings.image.width }}"
                loading="lazy"
              >
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          {% if block.settings.button_link == blank %} </a>{% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.mobile_stack == false %}
      </div>
      </div>
    {% endif %}
  </div>
  {% if section.settings.border_show_bottom %}
    <div class="{{ border_container }}">
      <span class="section_seperator"></span>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Logo list",
  "disabled_on": {
      "groups": ["header"]
  },
  "tag": "section",
  "settings": [
      {
        "type": "select",
        "id": "container",
        "label": "Container layout",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          },
          {
            "value": "w-full",
            "label": "Full width"
          }
        ]
      },
      {
        "type": "select",
        "id": "products_show_on_xl",
        "label": "Number of columns on desktop",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          }
        ],
        "default": "5"
      },
      {
        "type": "select",
        "id": "products_show_on_sm",
        "label": "Number of columns on mobile",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2",
        "info": "It works unless you enable the \"Stack on mobile\" "
      },
      {
       "type": "checkbox",
       "id": "mobile_stack",
       "label": "Stack on mobile",
       "default": false
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme-12",
        "label": "Color scheme"
      },
      {
        "type": "header",
        "content": "Border"
      },
      {
        "type": "checkbox",
        "id": "border_show_bottom",
        "default": true,
        "label": "Show bottom"
      },
      {
        "type": "checkbox",
        "id": "border_show_top",
        "default": false,
        "label": "Show top"
      },
      {
        "type": "color",
        "id": "logo_border_color",
        "default": "#333333",
        "label": "Color"
      },
      {
        "type": "select",
        "id": "logo_list_border_container",
        "label": "Border width",
        "default": "container",
        "options": [
          {
            "value": "container",
            "label": "Default"
          },
          {
            "value": "full_container",
            "label": "Full width"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "paragraph",
        "content": "Desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "paragraph",
        "content": "Mobile"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 50
      }
  ],
  "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "t:sections.multicolumn.blocks.column.settings.image.label"
            },
            {
              "type": "url",
              "id": "image_link",
              "label": "Link"
            }
        ]
      }
    ],
   "presets": [
    {
      "name": "Logo list",
      "blocks": [
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          },
          {
            "type": "logo"
          }
      ]
    }
  ]
}
{% endschema %}
