{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{%- liquid
  if section.settings.collection_type == 'all'
    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif
  endif
-%}

<style>
   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.mobile_padding_top }}px;
     padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
   }
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
  .collection__list--page .media--round {
    border-radius: 3rem;
    background: transparent;
  }
  .collection-list__item:hover .media > img {
      transform: scale(1.03);
  }
  .collection-list__item .media > img {
      transition: opacity .4s cubic-bezier(.25,.46,.45,.94), transform .55s cubic-bezier(0.26, 0.54, 0.32, 1);
  }
</style>
<div
  class="page__wrapper collection__list--page section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
  style="background:rgb(var(--color-background))"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page__header text-center {% if section.settings.title != blank or section.settings.page_description != blank %} mb-50 {% endif %}">
          {%- if section.settings.heading_tag == 'h1' -%}
            <h1 class="title title--primary">{{ section.settings.title | escape }}</h1>
          {%- else -%}
            <h2 class="title title--primary h1">{{ section.settings.title | escape }}</h2>
          {%- endif -%}
          <p class="mb-0">{{ section.settings.page_description }}</p>
        </div>
      </div>
    </div>
    <div class="row  {% if section.settings.column == "5" %} row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 {% endif %}">
      {%- liquid
        if section.settings.layout == 'masonry'
          assign columns = section.blocks.size
          if columns > 3
            assign columns = 3
          endif
        else
          assign columns = section.settings.column
        endif

        if section.settings.layout == 'standard'
          assign column_set = section.settings.column
          case column_set
            when '1'
              assign column_class_standard = 'col-12'
            when '2'
              assign column_class_standard = 'col-md-6 col-sm-6 col-12'
            when '3'
              assign column_class_standard = 'col-md-4 col-sm-6 col-12'
            when '4'
              assign column_class_standard = 'col-md-3 col-sm-6 col-12'
            else
              assign column_class_standard = 'col'
          endcase
        endif
      -%}

      {%- if section.settings.collection_type == 'all' -%}
        {%- for collection in collections -%}
          {%- liquid
            if section.settings.layout == 'masonry'
              if forloop.index > 2
                assign column_class = 'col-md-4 col-sm-6 col-12'
              else
                assign column_class = 'col-md-6 col-sm-6 col-12'
              endif
            endif
          -%}
          {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
          {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
          <div class="collection-list__item {{ column_class }} {{ column_class_standard }} mb-30">
            {%- render 'collection-card',
              collection: collection,
              product_count: section.settings.product_count,
              image_ratio: section.settings.image_ratio,
              columns: columns,
              content_position: section.settings.show_content_below_image,
              title_design: section.settings.title_design,
              show_content_below_image_mobile: section.settings.show_content_below_image_mobile,
              round_image: section.settings.image_round_corner,
              title_size: section.settings.card_title_size,
              custom_image: false,
              title_position: section.settings.title_position,
              placeholder_image: placeholder_image,
              single_title: '',
              title_below_image: section.settings.title_below__image,
              rounded_image: section.settings.rounded_image,
              button_show: section.settings.shop_button,
              button_text: section.settings.button_label,
              button_type: section.settings.button_type,
              button_size: section.settings.button_size
            -%}
          </div>
        {%- endfor -%}
      {%- else -%}
        {%- for block in section.blocks -%}
          {%- liquid
            if section.settings.layout == 'masonry'
              if forloop.index > 2
                assign column_class = 'col-md-4 col-sm-6 col-12'
              else
                assign column_class = 'col-md-6 col-sm-6 col-12'
              endif
            endif
          -%}
          {%- case block.type -%}
            {%- when 'collection_item' -%}
              {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
              {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
              {% assign collection = collections[block.settings.collection] %}
              <div class="collection-list__item {{ column_class }} {{ column_class_standard }} mb-30">
                {%- render 'collection-card',
                  collection: collection,
                  custom_image: block.settings.image,
                  product_count: section.settings.product_count,
                  image_ratio: section.settings.image_ratio,
                  columns: columns,
                  content_position: section.settings.show_content_below_image,
                  title_design: section.settings.title_design,
                  show_content_below_image_mobile: section.settings.show_content_below_image_mobile,
                  round_image: section.settings.image_round_corner,
                  title_size: section.settings.card_title_size,
                  title_position: section.settings.title_position,
                  placeholder_image: placeholder_image,
                  single_title: '',
                  title_below_image: section.settings.title_below__image,
                  rounded_image: section.settings.rounded_image,
                  button_show: section.settings.shop_button,
                  button_text: section.settings.button_label,
                  button_type: section.settings.button_type,
                  button_size: section.settings.button_size
                -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "spaced-section",
  "settings": [
	{
          "type": "radio",
          "id": "collection_type",
          "label": "Show collections",
          "default": "all",
          "options": [
            {
              "value": "all",
              "label": "All"
            },
            {
              "value": "selected",
              "label": "Selected"
            }
          ]
     },
	{
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "standard",
          "label": "Grid"
        },
        {
          "value": "masonry",
          "label": "Collage"
        }
      ],
      "default": "masonry",
      "label": "Layout"
    },
	{
        "type": "select",
        "id": "column",
        "label": "Number of columns on desktop",
	  	"info": "Works on the grid layout",
        "options": [
		  {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
		  {
            "value": "5",
            "label": "5"
          }
        ],
        "default": "3"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-11",
      "label": "t:sections.main-list-collections.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "header",
      "content": "Collection card"
    },
    {
      "type": "checkbox",
      "id": "rounded_image",
      "default": true,
      "label": "Round the corners of the image"
    },
	{
      "type": "select",
      "id": "title_position",
      "options": [
		{
          "value": "top--left",
          "label": "Top left"
        },
        {
          "value": "top--right",
          "label": "Top right"
        },
        {
          "value": "bottom--left",
          "label": "Bottom letf"
        },
		{
          "value": "bottom--right",
          "label": "Bottom right"
        },
		{
          "value": "full--center",
          "label": "Center"
        }
      ],
      "default": "bottom--left",
      "label": "Text position"
    },
    {
       "type": "checkbox",
        "id": "title_below__image",
        "default": false,
        "label": "Show text below image"
    },
    {
      "type": "checkbox",
      "id": "product_count",
      "default": false,
      "label": "Show product count"
    },
    {
      "type": "checkbox",
      "id": "shop_button",
      "default": true,
      "label": "Show button"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Shop now",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "default": "solid",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "default": "small",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
           {
          "value": "small",
          "label": "Small"
        }
      ]
    },
    {
     "type": "checkbox",
     "id": "show_content_below_image_mobile",
     "label": "Show content below the images on mobile",
     "default": true
     },
	{
      "type": "header",
      "content": "Show all collections"
    },
	{
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
	{
      "type": "header",
      "content": "Page header"
    },
	{
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
	 {
      "type": "select",
      "id": "heading_tag",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        }
      ],
      "default": "h1",
      "label": "Heading tag",
      "info": "Used for accessibility and SEO"
    },
	{
      "type": "richtext",
      "id": "page_description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 0
        }
  ],
  "blocks": [
    {
      "type": "collection_item",
      "name": "Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Optional! Instead of the collection's image, the selected image will be displayed."
         }
      ]
    }
  ]
}
{% endschema %}
