{{ 'slideshow.css' | asset_url | stylesheet_tag }}
{{ 'section-slider-button-controls.css' | asset_url | stylesheet_tag }}
{{ 'animation.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
   #Slider-{{ section.id }} .slideshow__banner--media--adapt_image {
     padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
   }
  {% if section.blocks.first.settings.mobile_image != blank %}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }} .slideshow__banner--media--adapt_image {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.mobile_image.aspect_ratio | times: 100 }}%;
      }
    }
    {% endif %}
  {%- endif -%}

  {% if section.settings.slide_height == 'adapt_image' %}
    {% if section.blocks.first.settings.image == blank and section.blocks.first.settings.mobile_image != blank %}
      @media screen and (max-width: 749px) {
        #Slider-{{ section.id }} .slideshow__mobile--media--adapt_image {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.mobile_image.aspect_ratio | times: 100 }}%;
        }
      }
    {% else %}
     @media screen and (max-width: 749px) {
        #Slider-{{ section.id }} .slideshow__mobile--media--adapt_image {
          min-height: 35rem;
        }
      }
   {% endif %}

  {%- endif -%}

  {%- unless section.settings.slide_height == 'adapt_image' or section.blocks.first.settings.image != blank -%}
    @media screen and (min-width: 768px){
      .slideshow__banner--media--adapt_image.placeholder {
          height: 56rem;
      }
    }
  {%- endunless -%}

  @media only screen and (min-width: 750px) and (max-width: {{ settings.container_lg_width }}px){
    .right--position .slideshow__text {
        right: 5rem;
    }
    .left--position .slideshow__text {
        left: 5rem;
    }
  }
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

   #slideshow--button-{{ section.id }}.slideshow--slider.slider--controls--button{
       --slider-button-background: {{ section.settings.color_scheme }};
       --slider-button-color: {{ section.settings.color_scheme }};
    }
{%- endstyle -%}

{%- liquid
  assign pagination = section.settings.pagination_style
  case pagination
    when 'dots'
      assign pagination_class = 'pagination--dots'
    when 'counter'
      assign pagination_class = 'pagination--counter'
    else
      assign pagination_class = 'pagination--numbers'
  endcase

  if section.settings.show_content_below_image == false
    assign show_image = 'small-hide'
  endif

  if section.settings.navigation_type == 'solid'
    assign navigation_type = 'navigation--solid'
  else
    assign navigation_type = 'navigation--outline'
  endif
-%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="slideShow"
  id="Slider-{{ section.id }}"
  data-slider-autoplay="{{ section.settings.autorotate }}"
  data-slider-delay="{{ section.settings.autorotate_speed }}000"
  data-slider-loop="{%- if section.blocks.size > 1 -%}true {%- else -%} false {%- endif -%}"
  data-pagination="{{ pagination }}"
  class="section-{{ section.id }}-padding"
>
  {% unless section.settings.make_section_full_width %}
    <div class="container">
  {% endunless %}

  <div class="swiper slideshow__wrapper color-{{ section.settings.color_scheme }}">
    <div
      class="slideshow--slider slider--controls--button  {% unless section.settings.show_mobile_nav %}slideshow--mobile-navs-hide{% endunless %} {{ navigation_type }} color-{{ section.settings.navigation_color_scheme }}"
      id="slideshow--button-{{ section.id }}"
    >
      {%- if section.settings.show_arrows -%}
        <div class="swiper-button-prev slideshow--nav-button product__slider--button">
          {% render 'slider-left-arrow-icon' %}
        </div>
      {%- endif -%}

      {%- if section.settings.show_arrows -%}
        <div class="swiper-button-next slideshow--nav-button product__slider--button">
          {% render 'slider-right-arrow-icon' %}
        </div>
      {%- endif -%}
    </div>

    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'slide' -%}
            <style>
              #Slide-{{ section.id }}-{{ forloop.index }}.slideshow__media:after  {
                opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
              }
            </style>

            {%- liquid
              assign box_content_align = block.settings.content_box_alignment

              case box_content_align
                when 'top-left'
                  assign content_class = 'justify-content-start align-items-start top--position left--position'
                when 'top-center'
                  assign content_class = 'justify-content-start align-items-center top--position'
                when 'top-right'
                  assign content_class = 'justify-content-start align-items-end top--position right--position'
                when 'middle-left'
                  assign content_class = 'justify-content-center align-items-start left--position'
                when 'middle-center'
                  assign content_class = 'justify-content-center align-items-center'
                when 'middle-right'
                  assign content_class = 'justify-content-center align-items-end  right--position'
                when 'bottom-left'
                  assign content_class = 'justify-content-end align-items-start bottom--position left--position'
                when 'bottom-center'
                  assign content_class = 'justify-content-end align-items-center bottom--position'
                else
                  assign content_class = 'justify-content-end align-items-end bottom--position  right--position'
              endcase

              if block.settings.button_type == 'solid'
                assign button_class = 'button--solid'
              elsif block.settings.button_type == 'outline'
                assign button_class = 'button--outline'
              endif
            -%}

            <div class="swiper-slide" tabindex="-1" {{ block.shopify_attributes }}>
              <div
                class="
                  slideshow__media slideshow__banner--media--{{ section.settings.slide_height }} {% if block.settings.image != blank %} media {%- else -%}
                  {% if block.settings.mobile_image != blank  %} slideshow__mobile--media--{{ section.settings.slide_height }} slider-mobile--media {% endif %} placeholder{% endif %}
                "
                id="Slide-{{ section.id }}-{{ forloop.index }}"
              >
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  -%}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths, class: show_image
                  }}
                {%- else -%}
                  {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}

                {% if block.settings.mobile_image != blank %}
                  {%- liquid
                    assign height = block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100'
                  -%}
                  {{
                    block.settings.mobile_image
                    | image_url: width: 3840
                    | image_tag:
                      loading: 'lazy',
                      height: height,
                      sizes: sizes,
                      widths: widths,
                      class: 'd-sm-only-visible'
                  }}
                {%- endif -%}
              </div>

              {%- if block.settings.heading != blank
                or block.settings.subheading != blank
                or block.settings.button_label != blank
              -%}
                <div
                  id="single__slider--id-{{ block.id }}"
                  class="slideshow__text-wrapper {% if section.settings.show_content_below_image == false %} show_content--on-image {% endif %} {{ content_class }} slider--alignment__desktop--{{ block.settings.alignment_desktop }} slider--alignment__mobile--{{ block.settings.alignment_mobile }} {% if section.settings.enable_color_scheme_mobile_settings %}d-sm-none{% endif %}"
                >
                  <div class="slideshow__text banner__box {{ block.settings.content_animation }}">
                    {%- capture heading -%}
                       {%- if block.settings.heading != blank -%}
                        <h2 class="banner__heading {{ block.settings.heading_size }} mb-0">
                          {{- block.settings.heading | replace: 'p>', 'span>' -}}
                        </h2>
                       {%- endif -%}
                      {%- endcapture -%}

                    {%- capture subheading -%}
                      {%- if block.settings.subheading != blank -%}
                        <div>
                          <span class="banner__text">{{ block.settings.subheading }}</span>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}

                    {%- if block.settings.heading_position == 'top' -%}
                      {{ heading }}
                      {{ subheading }}
                    {%- elsif block.settings.heading_position == 'bottom' -%}
                      {{ subheading }}
                      {{ heading }}
                    {%- endif -%}

                    {%- if block.settings.button_label != blank -%}
                      <div class="banner__buttons slideshow--banner-button">
                        {%- render 'button',
                          button_label: block.settings.button_label,
                          button_size: block.settings.button_size,
                          button_link: block.settings.link,
                          button_style: button_class
                        -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}

              {% if section.settings.enable_color_scheme_mobile_settings %}
                {%- if block.settings.heading != blank
                  or block.settings.subheading != blank
                  or block.settings.button_label != blank
                -%}
                  <div class="slideshow__text-wrapper {% if section.settings.show_content_below_image == false %} show_content--on-image {% endif %} {{ content_class }} slider--alignment__desktop--{{ block.settings.alignment_desktop }} slider--alignment__mobile--{{ block.settings.alignment_mobile }} d-sm-only-visible color-{{ section.settings.mobile_color_scheme }}">
                    <div class="slideshow__text banner__box {{ block.settings.content_animation }}">
                      {%- capture heading -%}
                       {%- if block.settings.heading != blank -%}
                        <h2 class="banner__heading {{ block.settings.heading_size }} mb-0">
                          {{- block.settings.heading | replace: 'p>', 'span>' -}}
                        </h2>
                       {%- endif -%}
                      {%- endcapture -%}

                      {%- capture subheading -%}
                      {%- if block.settings.subheading != blank -%}
                        <div>
                          <span class="banner__text">{{ block.settings.subheading }}</span>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}

                      {%- if block.settings.heading_position == 'top' -%}
                        {{ heading }}
                        {{ subheading }}
                      {%- elsif block.settings.heading_position == 'bottom' -%}
                        {{ subheading }}
                        {{ heading }}
                      {%- endif -%}

                      {%- if block.settings.button_label != blank -%}
                        <div class="banner__buttons slideshow--banner-button">
                          {%- render 'button',
                            button_label: block.settings.button_label,
                            button_size: block.settings.button_size,
                            button_link: block.settings.link,
                            button_style: button_class
                          -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endif -%}

              {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image == blank -%}
                {%- style -%}
                  @media screen and (max-width: 767px) {
                    #Slide-{{ section.id }}-{{ forloop.index }}.slideshow__banner--media--adapt_image  {
                    	padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                    }
                  }

                  @media screen and (min-width: 768px) {
                    #Slide-{{ section.id }}-{{ forloop.index }}.slideshow__banner--media--adapt_image {
                        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                    }
                  }
                {%- endstyle -%}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="slideshow--slider slider--controls--bullet {% unless section.settings.show_mobile_dots %}slideshow--mobile-dots-hide{% endunless %}">
      {%- if section.settings.show_dots -%}
        <div
          class="swiper-pagination slideshow--bullet-button {{ pagination_class }} {{ section.settings.dots_color }} mobile__{{ section.settings.mobile__dots_color }}"
        ></div>
      {%- endif -%}
    </div>
  </div>

  {% unless section.settings.make_section_full_width %}
    </div>
  {% endunless %}
</div>

{% schema %}
{
   "name": "Slideshow",
  "disabled_on": {
      "groups": ["header","footer"]
  },
  "tag": "section",
   "settings": [
      {
        "type": "select",
        "id": "slide_height",
        "options": [
          {
            "value": "adapt_image",
            "label": "Adapt to first image"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "adapt_image",
        "label": "Slide height"
      },
      {
        "type": "checkbox",
        "id": "autorotate",
        "label": "Auto-rotate slides",
        "default": false
      },
      {
        "type": "range",
        "id": "autorotate_speed",
        "label": "Change slides every",
        "max": 10,
        "min": 1,
        "step": 1,
        "unit": "s",
        "default": 5
      },

      {
        "type": "checkbox",
        "id": "make_section_full_width",
        "label": "Make section full width",
        "default": true
      },
      {
        "type": "header",
        "content": "Pagination settings"
      },
      {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show pagination",
        "default": true
      },
      {
        "type": "select",
        "id": "pagination_style",
        "options": [
          {
            "value": "dots",
            "label": "Dots"
          },
          {
            "value": "counter",
            "label": "Counter"
          },
          {
            "value": "numbers",
            "label": "Numbers"
          }
        ],
        "default": "dots",
        "label": "Pagination style"
      },
      {
        "type": "select",
        "id": "dots_color",
        "label": "Pagination color",
        "default": "dark",
        "options": [
            {
                "value": "dark",
                "label": "Dark"
            },
            {
                "value": "light",
                "label": "Light"
            }
        ]
      },
      {
        "type": "header",
        "content": "Navigation settings"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show navigation",
        "default": true
      },
      {
        "type": "select",
        "id": "navigation_type",
        "options": [
          {
            "value": "solid",
            "label": "Solid"
          },
          {
            "value": "outline",
            "label": "Outline"
          }
        ],
        "default": "outline",
        "label": "Navigation type"
      },
      {
        "type": "color_scheme",
        "id": "navigation_color_scheme",
        "default": "scheme-1",
        "label": "Navigation color"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme-11",
        "label": "Color scheme"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "checkbox",
        "id": "show_content_below_image",
        "label": "Show content below images on mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_color_scheme_mobile_settings",
        "label": "Enable color scheme for slider content",
        "default": true
      },
      {
        "type": "color_scheme",
        "id": "mobile_color_scheme",
        "default": "scheme-11",
        "label": "Color scheme"
      },
      {
        "type": "checkbox",
        "id": "show_mobile_dots",
        "label": "Show pagination",
        "default": true
      },
      {
        "type": "select",
        "id": "mobile__dots_color",
        "label": "Pagination color",
        "default": "dark",
        "options": [
            {
                "value": "dark",
                "label": "Dark"
            },
            {
                "value": "light",
                "label": "Light"
            }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_mobile_nav",
        "label": "Show navigation",
        "default": false
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "paragraph",
        "content": "Desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      },
      {
        "type": "paragraph",
        "content": "Mobile"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 0
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 0
      }
   ],
   "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
              "type": "textarea",
              "id": "heading",
              "default": "Summer Style <br> Sensations.",
              "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "Small"
              },
              {
                "value": "h1",
                "label": "Medium"
              },
              {
                "value": "h0",
                "label": "Large"
              }
            ],
            "default": "h0",
            "label": "Heading size"
          },
          {
              "type": "select",
              "id": "heading_position",
              "label": "Heading position",
              "default": "top",
              "options": [
                {
                  "value": "top",
                  "label": "Top"
                },
                {
                  "value": "bottom",
                  "label": "Bottom"
                }
              ]
          },
          {
            "type": "textarea",
            "id": "subheading",
            "default": "Having plain clothing makes you look ordinary. We can assist you <br> in choosing the right dresses with Foesta.",
            "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
            "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.slideshow.blocks.slide.settings.link.label"
          },
          {
              "type": "select",
              "id": "button_type",
              "label": "Button type",
              "default": "solid",
              "options": [
                {
                  "value": "solid",
                  "label": "Solid"
                },
                {
                  "value": "outline",
                  "label": "Outline"
                }
              ]
            },
          {
              "type": "select",
              "id": "button_size",
              "label": "Button size",
              "default": "medium",
              "options": [
                {
                  "value": "large",
                  "label": "Large"
                },
                {
                  "value": "medium",
                  "label": "Medium"
                },
                   {
                  "value": "small",
                  "label": "Small"
                }
              ]
            } ,
           {
                "type": "range",
                "id": "image_overlay_opacity",
                "min": 0,
                "max": 100,
                "step": 10,
                "unit": "%",
                "label": "Image overlay opacity",
                "default": 0
           },
           {
              "type": "select",
              "id": "content_box_alignment",
              "options": [
                {
                  "value": "top-left",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
                },
                {
                  "value": "top-center",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
                },
                {
                  "value": "top-right",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
                },
                {
                  "value": "middle-left",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
                },
                {
                  "value": "middle-center",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
                },
                {
                  "value": "middle-right",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
                },
                {
                  "value": "bottom-left",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
                },
                {
                  "value": "bottom-center",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
                },
                {
                  "value": "bottom-right",
                  "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
                }
              ],
              "default": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
              "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
            },
           {
                "type": "select",
                "id": "alignment_desktop",
                "label": "Content alignment",
                "default": "left",
                "options": [
                  {
                    "value": "center",
                    "label": "Center"
                  },
                  {
                    "value": "left",
                    "label": "Left"
                  },
                  {
                    "value": "right",
                    "label": "Right"
                  }
                ]
              },
          {
            "type": "select",
            "id": "content_animation",
            "options": [
              {
                "value": "fade",
                "label": "Fade"
              },
              {
                "value": "fade__in__left",
                "label": "FadeInLeft"
              },
              {
                "value": "fade__in__up",
                "label": "FadeInUp"
              },
              {
                "value": "fade__in__down",
                "label": "FadeInDown"
              },
              {
                "value": "",
                "label": "None"
              }
            ],
            "default": "fade__in__up",
            "label": "Content animation"
          },
          {
            "type": "header",
            "content": "Mobile settings"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image",
            "info": "600 x 480px recommended"
          },
          {
            "type": "select",
            "id": "alignment_mobile",
            "label": "Content alignment",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      }
   ],
   "presets": [
      {
        "name": "Slideshow",
        "blocks":[
           {
                "type": "slide"
              },
           {
                "type": "slide"
              }
       ]
      }
    ]
}
{% endschema %}
